<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <!-- <button ion-button icon-only color="royal" (click)="goback()">
        <ion-icon name="arrow-back"></ion-icon>
      </button> -->
    </ion-buttons>
    <ion-title>项目详情编辑1</ion-title>
  </ion-navbar>

</ion-header>

<ion-content style="background-color: #fcfcfc;">
  <p class="browser-file">请填写公司相关信息</p>
  <div class="steps-list mt10">
    <span class="steps-round checked"></span>
    <span class="steps-line"></span>
    <span class="steps-round"></span>
    <span class="steps-line"></span>
    <span class="steps-round"></span>
  </div>
  <ion-list class="list-item-flex mt20">
    <ion-item (click)="goFormEditPage('companyName',projectData.companyName,'selectList')">
      <label>公司选择
        <span class="required-field ml5">(必填)</span>
      </label>
      <p item-right class="rigth-message">
        <span class="item-value line-overflow">{{projectData.companyName || '请选择公司'}}</span>
        <ion-icon class="icon" name="arrow-forward"></ion-icon>
      </p>
    </ion-item>
    <ion-item (click)="goFormEditPage('principalName',projectData.principalName,'text')">
      <label>业务负责人
        <span class="required-field ml5">(必填)</span>
      </label>
      <div item-right class="rigth-message">
        <span item-right class="item-value line-overflow">{{projectData.principalName || '请输入对接人姓名'}}</span>
        <ion-icon class="icon" name="arrow-forward"></ion-icon>
      </div>
    </ion-item>
    <ion-item (click)="goFormEditPage('principalPosition',projectData.principalPosition,'text')">
      <label>职务</label>
      <p item-right class="rigth-message">
        <span item-right class="item-value line-overflow">{{projectData.principalPosition || '请输入'}}</span>
        <ion-icon class="icon" name="arrow-forward"></ion-icon>
      </p>
    </ion-item>
    <ion-item (click)="goFormEditPage('principalPhone',projectData.principalPhone,'text')">
      <label>电话号码
        <span class="required-field ml5">(必填)</span>
      </label>
      <p item-right class="rigth-message">
        <span item-right class="item-value line-overflow">{{projectData.principalPhone || '请输入'}}</span>
        <ion-icon class="icon" name="arrow-forward"></ion-icon>
      </p>
    </ion-item>
    <ion-item no-lines (click)="goFormEditPage('principalEmail',projectData.principalEmail,'text')">
      <label>工作邮箱
        <span class="required-field ml5">(必填)</span>
      </label>
      <p item-right class="rigth-message">
        <span item-right class="item-value line-overflow">{{projectData.principalEmail || '请输入'}}</span>
        <ion-icon class="icon" name="arrow-forward"></ion-icon>
      </p>
    </ion-item>
  </ion-list>
  <p class="browser-file">请选择发布类型（目前为完整发布模式）</p>
  <ion-list class="list-item-flex mt10">
    <ion-item no-lines (click)="goSpeedPage()">
      <label>返回快速发布</label>
      <p item-right class="rigth-message">
        <span class="item-value line-overflow">留下简要的项目说明</span>
        <ion-icon class="icon" name="arrow-forward"></ion-icon>
      </p>
    </ion-item>
  </ion-list>
  <div style="height:50px;"></div>
  <div class="fixed-bottom" *ngIf="!isEdit">
    <button ion-button class="btn-submit" (click)="goStep2Page()">下一步</button>
    <button ion-button class="btn-delete" (click)="onDraftSubmit()">存为草稿</button>
  </div>
  <div class="fixed-bottom" *ngIf="isEdit">
    <button ion-button class="btn-submit" (click)="goStep2Page()">下一步</button>
    <button ion-button class="btn-delete" (click)="onDraftSubmit()">保存</button>
  </div>
  <!-- 返回快速发布弹框 -->
  <div class="phonebind-modal" [hidden]="!isShow">
    <div class="modal-bg"></div>
    <div class="modal-box">
      <div class="modal-top">
        <div class="modal-top-close">
          <!-- <ion-icon ios="ios-close" md="md-close" item-rigth (click)="onClose()" color=""></ion-icon> -->
        </div>
        <div class="modal-title">切换发布方式</div>
        <div class="modal-content">
          <p>切换发布方式之后，部分您已经填写的信息将不会被保存，确定要继续么？</p>
        </div>
        <div class="modal-footer">
          <button ion-button full large (click)="goClientProjectSpeedPage()">继续返回快速发布</button>
          <button ion-button full large (click)="onCompanyDel()" class="btn-delete">返回</button>
        </div>
      </div>
    </div>
  </div>
  <!-- 填写完整弹框 -->
  <div class="phonebind-modal " [hidden]="!isComplete">
    <div class="modal-bg"></div>
    <div class="modal-box">
      <div class="modal-top">
        <div class="modal-top-close">
          <!-- <ion-icon ios="ios-close" md="md-close" item-rigth (click)="onClose()" color=""></ion-icon> -->
        </div>
        <div class="modal-title">提示</div>
        <div class="modal-content">
          <p class="modal-center">请填写完整</p>
        </div>
        <div class="modal-footer">
          <button ion-button full large (click)="sureComplete()">确定</button>
          <!-- <button ion-button full large (click)="onCompanyDel()" class="btn-delete">返回</button> -->
        </div>
      </div>
    </div>
  </div>
  <!-- 邮箱错误弹框 -->
  <div class="phonebind-modal" [hidden]="!isEmailProper">
    <div class="modal-bg"></div>
    <div class="modal-box">
      <div class="modal-top">
        <div class="modal-top-close">
          <!-- <ion-icon ios="ios-close" md="md-close" item-rigth (click)="onClose()" color=""></ion-icon> -->
        </div>
        <div class="modal-title">提示</div>
        <div class="modal-content">
          <p class="modal-center">请输入正确邮箱</p>
        </div>
        <div class="modal-footer">
          <button ion-button full large (click)="sureEmail()">确定</button>
          <!-- <button ion-button full large (click)="onCompanyDel()" class="btn-delete">返回</button> -->
        </div>
      </div>
    </div>
  </div>
  <!-- 电话号码错误弹框 -->
  <div class="phonebind-modal" [hidden]="!isPhoneProper">
    <div class="modal-bg"></div>
    <div class="modal-box">
      <div class="modal-top">
        <div class="modal-top-close">
          <!-- <ion-icon ios="ios-close" md="md-close" item-rigth (click)="onClose()" color=""></ion-icon> -->
        </div>
        <div class="modal-title">提示</div>
        <div class="modal-content">
          <p class="modal-center">请输入正确电话号码</p>
        </div>
        <div class="modal-footer">
          <button ion-button full large (click)="surePhone()">确定</button>
          <!-- <button ion-button full large (click)="onCompanyDel()" class="btn-delete">返回</button> -->
        </div>
      </div>
    </div>
  </div>
</ion-content>