page-consultant-delivery-model {
    ion-list {
        margin-bottom: 0 !important;
    }
    .browser-top {
        padding: 30px 0 0;
        text-align: center;
        margin-bottom: 0;
        h4{
            font-family: PingFangSC;
            font-size: 1.6rem;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #4a4a4a;
            margin-top: 0;
        }
        .browser-top-p {
            margin-bottom: 0;
            img {
                width: 24px;
                height: 24px;
                border-radius: 50%;
                vertical-align: middle;
                margin-right: 8px;
            }
            span {
                opacity: 0.6;
                font-family: PingFangSC;
                font-size: 1.2rem;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0.2px;
                color: #4a4a4a;
            }
            ion-icon {
                color: #999999;
                font-size: 1.4rem;
            }
        }
    }

    .describe-list {
        ion-item {
            font-family: PingFangSC;
            font-size: 1.4rem;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #4a4a4a;
            h4 {
                font-weight: 600;
            }
            .describe-cont {
                margin-top: 8px;
                margin-bottom: 1rem;
                white-space: normal;
                color: #4a4a4a;
            }
            .tags-cont {
                white-space: normal;
                .tag {
                    display: inline-block;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    font-family: PingFangSC;
                    font-size: 1.2rem;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: 0.2px;
                    text-align: center;
                    color: #4a4a4a;
                    padding: 3px 12px;
                    border-radius: 3px;
                }
                &.skills{
                    .tag {
                        background-color: rgba(186, 232, 212, 0.4);
                    }
                }
                &.industry{
                    .tag {
                        background-color: rgba(204, 219, 254, 0.5);
                    }
                } 
                
            } 
        }
    }
    .list-item-flex {
        ion-item {
            font-family: PingFangSC;
            font-size: 14px;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #4a4a4a;
            label{
                font-weight: 600;
            }
            .icon {
                font-size: 1.6rem;
                vertical-align: middle;
                color: #cfcfcf;
            }
            .item-value {
                color: #9b9b9b;
                margin-right: 1rem;
                &.color-f46f46 {
                    color: #f46f46;
                }
                &.font12 {
                    font-size: 1.2rem;
                }
            }
        }
    }
    .user-other-list {
        width: calc(100% - 30px);
        margin: 30px 15px 0;
        h4 {
            font-family: PingFangSC;
            font-size: 1.7rem;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.2px;
            color: #4a4a4a;
            margin-bottom: 20px;
            &.mt10 {
                margin-top: 10px;
            }
        }
        .card-item {
            box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.05);
            .card-item-label {
                display: flex;
                font-family: PingFangSC;
                font-size: 1.4rem;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                label {
                    min-width: 70px;
                    color: #9b9b9b;
                }
                .card-cont {
                    flex: 1;
                    margin: 0;
                    margin-left: 10px;
                    line-height: 20px;
                    color: #4a4a4a;
                    white-space: normal;
                    h5{
                        font-family: PingFangSC;
                        font-size: 1.6rem;
                        font-weight: 600;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.13;
                        letter-spacing: normal;
                    }
                    .action-browser-file {
                        font-family: PingFangSC;
                        font-size: 1.2rem;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: 0.2px;
                    }
                    .browser-size {
                        font-size: 1.2rem;
                        margin-top: 10px;
                    }
                }
            }
            .lines-top {
                border-top: solid 1px #f4f4f4;
            }
            .msg-footer {
                border-top: solid 0.7px #f1f1f1;
                margin-top: 15px;
                padding: 10px 0 0;
                display: flex;
                .msg-footer-text {
                    flex: 1;
                    font-family: PingFangSC;
                    font-size: 14px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                }
                ion-icon {
                    color: #cfcfcf;
                }
            }

        }
    }

    .top-lines {
        display: flex;
        .top-lines-right{
            font-family: PingFangSC;
            font-size: 1.2rem;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #9b9b9b;
        }
        .top-lines-left {
            flex: 1;
        }
    }
    .browser-file {
        font-family: PingFangSC;
        font-size: 1.2rem;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #c7c7c7;
        margin: 3rem 0 0 1.5rem;
    }
    .registration-matters {
        font-family: PingFangSC;
        font-size: 1.2rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: justify;
        color: #4a4a4a;
        margin: 0 15px;
        ion-icon {
            font-size: 1.4rem;
        }
    }
    .card-item-top {
        display: flex;
        margin-bottom: 10px;
        .item-top-left {
            font-family: PingFangSC;
            font-size: 1.2rem;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.2px;
            color: #4a4a4a;
            flex: 1;
            .color-f46f46 {
                color: #f46f46;
            }
        }
        .item-top-right{
            font-family: PingFangSC;
            font-size: 1.2rem;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: right;
            color: #9b9b9b;
        }
    }

}
