<ion-header  class="project-header">

  <ion-navbar hideBackButton="true">
    <ion-buttons side="left" style="order: 0">
      <button ion-button icon-only color="royal" (click)="goback()" class="returnBtn">
        <ion-icon name="arrow-back">&nbsp;返回</ion-icon>
      </button>
    </ion-buttons>
    <ion-title>项目列表</ion-title>
  </ion-navbar>

</ion-header>

<div class="nav-menu" *ngIf="isShowNavMenu">
  <ion-list class="nav-list-menu">
    <ion-item no-lines (click)="onNavMenuClick(false)">
      <p class="list-header-left">{{showNavMenuName || '所有项目'}} ({{showNavMenuNumber}})</p>
      <div class="list-header-right" item-end>
        <span>收起</span>
      </div>
    </ion-item>
  </ion-list>
  <div class="nav-menu-bg"></div>
  <ion-list class="nav-menu-list">
    <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(0,'所有项目',projectCount.allCount)">
      <label>所有项目 ({{projectCount.allCount}})</label>
      <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
    </ion-item>
    <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(1,'未开始',projectCount.notBeginningCount)">
      <label>未开始 ({{projectCount.notBeginningCount}})</label>
      <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
    </ion-item>
    <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(2,'进行中',projectCount.currentCount)">
      <label>进行中 ({{projectCount.currentCount}})</label>
      <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
    </ion-item>
    <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(3,'已完成',projectCount.completedCount)">
      <label>已完成 ({{projectCount.completedCount}})</label>
      <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
    </ion-item>
    <ion-item class="nav-menu-item" no-lines (click)="onNavMenuItemClick(4,'草稿箱',projectCount.draftCount)">
      <label>草稿箱 ({{projectCount.draftCount}})</label>
      <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
    </ion-item>
  </ion-list>
</div>
<ion-content style="background-color: #fcfcfc;">
  <!-- <ion-item>
        用户信息
        <ion-icon name="ios-arrow-down" item-right  *ngIf="isShow"    (click)="isShow=!isShow"></ion-icon>
        <ion-icon name="ios-arrow-forward" item-right *ngIf="!isShow" (click)="isShow=!isShow"></ion-icon>
    </ion-item>
    <ion-list *ngIf="isShow">
      <ion-item  *ngFor="let item of items" >
          姓名：{{item.name}} 年龄：{{item.age}}
      </ion-item>
    </ion-list> -->
  <ion-list class="nav-list-menu">
    <ion-item no-lines (click)="onNavMenuClick(true)">
      <p class="list-header-left">{{showNavMenuName || '所有项目'}} ({{showNavMenuNumber}})</p>
      <div class="list-header-right" item-end>
        <span>展开</span>
      </div>
    </ion-item>
  </ion-list>
  <!-- <ion-refresher (ionRefresh)="doRefresh($event)"> 
        <ion-refresher-content
              pullingIcon="arrow-dropdown"
              pullingText="下拉刷新"
              refreshingSpinner="circles"
              refreshingText="刷新..."> 
          </ion-refresher-content>
          <ion-refresher-content > 
      </ion-refresher-content>
    </ion-refresher> -->
  <ion-list class="list-content">
    <ion-item class="message-item mt20" no-lines *ngFor="let projectListData_item of projectListData">
      <div *ngIf="projectListData_item.type ==0">
        <div class="msg-title">
          <div class="msg-title-left">
            <span class="project-type type-blue" *ngIf="projectListData_item.status ==1||projectListData_item.status ==2||
                         projectListData_item.status ==3||projectListData_item.status ==6 ||
                         projectListData_item.status ==7||projectListData_item.status ==11|| 
                         projectListData_item.status ==12|| projectListData_item.status ==13 ||
                         projectListData_item.status ==14 || projectListData_item.status ==15">未开始</span>
            <span class="project-type type-green" *ngIf="projectListData_item.status ==4">进行中</span>
            <span class="project-type type-gray" *ngIf="projectListData_item.status ==5 || projectListData_item.status ==8||
                      projectListData_item.status ==9 || projectListData_item.status ==10">已完成</span>
            <span class="project-type type-blue" *ngIf="projectListData_item.status ==0">草稿箱</span>
          </div>
          <span>
            <ion-icon name="more"></ion-icon>
          </span>
        </div>
        <div class="msg-cont">
          <h4>{{projectListData_item.projectName}}</h4>
          <p *ngIf="projectListData_item.budget">预算 <span class="demand-number">{{projectListData_item.budget | currency : '￥'}}</span> 元</p>
          <p *ngIf="!projectListData_item.budget">预算 待商议</p>
          <p class="city-date-cont">
            <span *ngIf="projectListData_item.projectLengthType ==0"><ion-icon name="calendar-copy"></ion-icon> 0-3 个月</span>
            <span *ngIf="projectListData_item.projectLengthType ==1"><ion-icon name="calendar-copy"></ion-icon> 3-6 个月</span>
            <span *ngIf="projectListData_item.projectLengthType ==2"><ion-icon name="calendar-copy"></ion-icon> 6-12 个月</span>
            <span *ngIf="projectListData_item.projectLengthType ==3"><ion-icon name="calendar-copy"></ion-icon> 其他时间</span>
            <span><ion-icon name="place"></ion-icon>{{projectListData_item.province}} . {{projectListData_item.city}}</span>
            <span *ngIf="projectListData_item.releaseTime"><ion-icon name="post"></ion-icon>发布时间 {{projectListData_item.releaseTime}}</span>
          </p>
          <!-- <div class="demand-content-cont mt10">{{projectListData_item.description}}</div> -->
          <div class="demand-content-cont mt10" [innerHTML]="assembleHTML(projectListData_item.description)"></div>
        </div>
        <div class="project-stage-list mt20" *ngIf="projectListData_item.projectStageList &&projectListData_item.projectStageList.length>0">
          <div class="stage-list-left">
            <!-- <div class="stage-border checked"></div>
                  <div class="stage-lines checked"></div>
                  <div class="stage-border"></div>
                  <div class="stage-lines"></div>
                  <div class="stage-border"></div> -->
            <div *ngFor="let projectStageList_item of projectListData_item.projectStageList;let i=index">
              <div class="stage-border" [ngClass]="{'checked':projectStageList_item.customerStatus == 7}" *ngIf="i==0"></div>
              <div class="stage-lines" [ngClass]="{'checked':projectStageList_item.customerStatus == 7}" *ngIf="i!=0"></div>
              <div class="stage-border" [ngClass]="{'checked':projectStageList_item.customerStatus == 7}" *ngIf="i!=0"></div>
            </div>
          </div>
          <div class="stage-list-right">
            <div class="stage-list-cont" *ngFor="let projectStageList_item of projectListData_item.projectStageList;let i=index">
              <h4>
                <span>第 {{i+1}} 阶段</span>
                <span class="color-f46f46 ml10" *ngIf="projectStageList_item.customerStatus == 0">待确认</span>
                <span class="color-f46f46 ml10" *ngIf="projectStageList_item.customerStatus == 1">有异议</span>
                <span class="color-f46f46 ml10" *ngIf="projectStageList_item.customerStatus == 2">待付款</span>
                <span class="color-f46f46 ml10" *ngIf="projectStageList_item.customerStatus == 3">待核对付款</span>
                <span class="color-f46f46 ml10" *ngIf="projectStageList_item.customerStatus == 4">进行中</span>
                <span class="color-f46f46 ml10" *ngIf="projectStageList_item.customerStatus == 5">待审核</span>
                <span class="color-f46f46 ml10" *ngIf="projectStageList_item.customerStatus == 6">申请发票</span>
                <span class="color-f46f46 ml10" *ngIf="projectStageList_item.customerStatus == 7">已完成</span>
                <span class="color-f46f46 ml10" *ngIf="projectStageList_item.customerStatus == 8">开票中</span>
                <span class="color-f46f46 ml10" *ngIf="projectStageList_item.customerStatus == 9">交付有异议</span>
              </h4>
              <p>{{projectStageList_item.stageName}}</p>
            </div>
          </div>
        </div>
        <div class="msg-footer" (click)="onProjectBrowserClick(projectListData_item)">
          <span class="msg-footer-text">查看该项目详情</span>
          <ion-icon name="arrow-forward" class="ml12"></ion-icon>
        </div>
      </div>
      <div *ngIf="projectListData_item.type ==1">
        <div class="msg-title">
          <div class="msg-title-left">
            <span class="project-type type-blue" *ngIf="projectListData_item.status ==1||projectListData_item.status ==2||
                           projectListData_item.status ==3||projectListData_item.status ==6 ||
                           projectListData_item.status ==7||projectListData_item.status ==11|| 
                           projectListData_item.status ==12|| projectListData_item.status ==13 ||
                           projectListData_item.status ==14">未开始</span>
            <span class="project-type type-green" *ngIf="projectListData_item.status ==4">进行中</span>
            <span class="project-type type-gray" *ngIf="projectListData_item.status ==5 || projectListData_item.status ==8||
                        projectListData_item.status ==9 || projectListData_item.status ==10">已完成</span>
            <span class="project-type type-blue" *ngIf="projectListData_item.status ==0">草稿箱</span>
          </div>
          <span>{{projectListData_item.releaseTime}}</span>
        </div>
        <div class="msg-cont">
          <h4>快速发布的项目</h4>
          <p class="city-date-cont">
            <span><span class="fontw600">{{projectListData_item.voiceCount}} 条</span>语音记录</span>
          </p>
          <!-- <div class="demand-content-cont mt10">{{projectListData_item.description}}</div> -->
          <div class="demand-content-cont mt10" [innerHTML]="assembleHTML(projectListData_item.description)"></div>
        </div>
        <div class="msg-footer" (click)="onProjectBrowserClick(projectListData_item)">
          <span class="msg-footer-text">查看该项目详情</span>
          <ion-icon name="arrow-forward" class="ml12"></ion-icon>
        </div>
      </div>
    </ion-item>
    <!-- <ion-item class="message-item mt20" no-lines>
        <div class="msg-title">
          <div class="msg-title-left">
            <span class="project-type type-green">进行中</span>
          </div>
          <span><ion-icon name="more"></ion-icon></span>
        </div>
        <div class="msg-cont">
          <h4>多语言项目的技术难题（Java 语言）</h4>
          <p>预算 <span class="demand-number">35,000</span> 元</p>
          <p class="city-date-cont">
            <span>06-12 个月</span>
            <span>深圳市</span>
            <span>发布时间 18/06/05</span>
          </p>
          <div class="demand-content-cont mt10">负责产品项目的规划与策划，监控项目的开发进度，负责解决开发过程中的技术问题。希望专家对于国内外协作机械臂运动控制这块技术发展情况有深入了解，负责解决开发过程中的技术对于这…</div>
        </div>
        <div class="project-stage-list mt20" *ngIf="projectListData_item.projectStageList &&projectListData_item.projectStageList.length>0">
          <div class="stage-list-left">
            <div class="stage-border checked"></div>
            <div class="stage-lines checked"></div>
            <div class="stage-border"></div>
            <div class="stage-lines"></div>
            <div class="stage-border"></div>
          </div>
          <div class="stage-list-right">
            <div class="stage-list-cont" *ngFor="let projectStageList_item of projectListData_item.projectStageList;let i=index">
              <h4>
                  <span>第 {{i}}阶段</span>
                  <span class="color-f46f46 ml10" *ngIf="projectStageList_item.customerStatus == 6 || projectStageList_item.customerStatus == 7">已完成</span>
                  <span class="color-f46f46 ml10" *ngIf="projectStageList_item.customerStatus == 1 || projectStageList_item.customerStatus == 2 || projectStageList_item.customerStatus == 3 || projectStageList_item.customerStatus == 4|| projectStageList_item.customerStatus == 5">进行中</span>
                  <span class="color-f46f46 ml10" *ngIf="projectStageList_item.customerStatus == 0">未开始</span>
              </h4>
              <p>{{projectStageList_item.stageName}}</p>
            </div>
            <div class="stage-list-cont">
              <h4>
                  <span>第二阶段</span>
                  <span class="color-f46f46 ml10">已完成</span>
              </h4>
              <p>节水系统问题诊断与提升优化</p>
            </div>
            <div class="stage-list-cont">
              <h4>
                  <span>第三阶段</span>
                  <span class="color-f46f46 ml10">已完成</span>
              </h4>
              <p>节水系统问题诊断与提升优化</p>
            </div>
          </div>
        </div> -->
    <!-- <div class="project-stage">
          <div class="project-stage-bg"></div>
          <div class="project-stage-list">
            <div class="stage-list-left">
              <div>a</div>
              <div>b</div>
              <div>c</div>
            </div>
            <div class="stage-list-right">
              <div>111111111111</div>
              <div>22222222222</div>
              <div>33333333333</div>
            </div>
          </div>
        </div>
        <div class="msg-footer">
          <span class="msg-footer-text">查看该项目详情</span>
          <ion-icon name="arrow-forward" class="ml12"></ion-icon>
        </div>
      </ion-item> -->
    <!-- <ion-item class="message-item mt20" no-lines>
          <div class="msg-title">
              <div class="msg-title-left">
                <span class="project-type type-gray">已完成</span>
              </div>
              <span><ion-icon name="more"></ion-icon></span>
            </div>
          <div class="msg-cont">
            <h4>多语言项目的技术难题（Java 语言）</h4>
            <p>预算 <span class="demand-number">35,000</span> 元</p>
            <p class="city-date-cont">
              <span>06-12 个月</span>
              <span>深圳市</span>
              <span>发布时间 18/06/05</span>
            </p>
            <div class="demand-content-cont mt10">负责产品项目的规划与策划，监控项目的开发进度，负责解决开发过程中的技术问题。希望专家对于国内外协作机械臂运动控制这块技术发展情况有深入了解，负责解决开发过程中的技术对于这…</div>
          </div>
          <div class="msg-footer">
            <span class="msg-footer-text">查看该项目详情</span>
            <ion-icon name="arrow-forward" class="ml12"></ion-icon>
          </div>
        </ion-item> -->
  </ion-list>
  <!--下滑的时候，加载数据-->
  <!-- <ion-infinite-scroll (ionInfinite)="doInfinite($event)"> 
        <ion-infinite-scroll-content
         loadingSpinner="bubbles"
         loadingText="加载中..."> 
         </ion-infinite-scroll-content> 
     </ion-infinite-scroll> -->

</ion-content>
<tellphone-tip></tellphone-tip>
<div class="no-box" *ngIf="!projectListData">
  <div class="no-content">
    <h4 class="title">我的项目</h4>
    <div class="img">
        <img src="../../../../assets/imgs/tuijain.png" alt="">
    </div>
    <p class="tip">当前项目暂时为空，点击下方按钮添加项目。</p>
  </div>
  <button ion-button expand="full" large class="fixed-bottom" (click)="onSpeedStageClick()">添加项目</button>
</div>