page-register {
    .phonebind-from {
        .phonebind-title {
            h3 {
                font-size: 2.2rem;
                font-weight: 600;
                margin: 0;
            }
        }
    }
    .mt50 {
        margin-top: 50px;
    }
    .mt10 {
        margin-top: 10px;
    }
    .mt20 {
        margin-top: 20px;
    }
    .item-button {
        button {
            border-radius: 6px;
        }
    }
}
