<!--
  Generated template for the ClientInfoEditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-lines>

  <ion-navbar no-lines>
    <ion-title>个人详情-公司信息（编辑）</ion-title>
  </ion-navbar>

</ion-header>

<ion-content style="background-color: #fcfcfc;">
    <ion-list class="contact-list mt10">
      <ion-item class="" (click)="goFormEditPage('companyName',companyDetaiData.companyName,'text')">
        <span class="left-title">公司名</span>
        <div item-right class="rigth-message">
          <span>{{companyDetaiData.companyName}}</span>
          <ion-icon name="arrow-forward" color="#cfcfcf" class="ml12"></ion-icon>
        </div>
      </ion-item>
      <ion-item class="" (click)="goFormEditPage('industryList',companyDetaiData.industryList,'selectArr')">
          <span class="left-title">公司行业</span>
          <div item-right class="rigth-message">
            <span *ngIf="companyDetaiData.industryList && companyDetaiData.industryList.length<1"></span>
            <span *ngIf="companyDetaiData.industryList && companyDetaiData.industryList.length==1">{{companyDetaiData.industryList[0].industryName}}</span>
            <span *ngIf="companyDetaiData.industryList && companyDetaiData.industryList.length>1">{{companyDetaiData.industryList[0].industryName}} 等</span>
            <ion-icon name="arrow-forward" class="ml12"></ion-icon>
          </div>
      </ion-item>
      <ion-item class="" (click)="goFormEditPage('province-city',[companyDetaiData.province,companyDetaiData.city],'province-city')">
          <span class="left-title">所在城市</span>
          <div item-right class="rigth-message">
            <span>{{companyDetaiData.province}} {{companyDetaiData.city}}</span>
            <ion-icon name="arrow-forward" class="ml12"></ion-icon>
          </div>
        </ion-item>
        <ion-item class="" (click)="goFormEditPage('address',companyDetaiData.address,'text')">
          <span class="left-title">详细地址</span>
          <div item-right class="rigth-message">
            <span>{{companyDetaiData.address}}</span>
            <ion-icon name="arrow-forward" class="ml12"></ion-icon>
          </div>
        </ion-item>
      <ion-item class="" (click)="goFormEditPage('scale',companyDetaiData.scale,'select')">
          <span class="left-title">公司规模</span>
          <div item-right class="rigth-message">
            <span *ngIf="companyDetaiData.scale==0">0-50人</span>
            <span *ngIf="companyDetaiData.scale==1">50-100人</span>
            <span *ngIf="companyDetaiData.scale==2">100-500人</span>
            <span *ngIf="companyDetaiData.scale==3">500人以上</span>
            <ion-icon name="arrow-forward" class="ml12"></ion-icon>
          </div>
      </ion-item>
      <ion-item class="" (click)="goFormEditPage('stage',companyDetaiData.stage,'select')">
          <span class="left-title">发展阶段</span>
          <div item-right class="rigth-message">
            <span *ngIf="companyDetaiData.stage == 0">起步期</span>
            <span *ngIf="companyDetaiData.stage == 1">快速成长期</span>
            <span *ngIf="companyDetaiData.stage == 2">变革期</span>
            <ion-icon name="arrow-forward" class="ml12"></ion-icon>
          </div>
      </ion-item>
      <!-- <ion-item class="" (click)="goToOtherPage()">
          <span class="left-title">是否首要</span>
          <div item-right class="rigth-message">
            <span>8 条新的通知</span>
            <ion-icon name="arrow-forward" class="ml12"></ion-icon>
          </div>
      </ion-item> -->
      <ion-item class="" (click)="goFormEditPage('companyPhone',companyDetaiData.companyPhone,'text')">
          <span class="left-title">公司电话</span>
          <div item-right class="rigth-message">
            <span>{{companyDetaiData.companyPhone}}</span>
            <ion-icon name="arrow-forward" class="ml12"></ion-icon>
          </div>
      </ion-item>
      <ion-item class="" (click)="goFormEditPage('webSite',companyDetaiData.webSite,'text')" no-lines>
          <span class="left-title">公司网站</span>
          <div item-right class="rigth-message">
            <span>{{companyDetaiData.webSite}}</span>
            <ion-icon name="arrow-forward" class="ml12"></ion-icon>
          </div>
      </ion-item>
      <!-- <ion-item class="" (click)="goToOtherPage()" no-lines>
          <span class="left-title">邮编</span>
          <div item-right class="rigth-message">
            <span>8 条新的通知</span>
            <ion-icon name="arrow-forward" class="ml12"></ion-icon>
          </div>
      </ion-item> -->
      <ion-item class="mt10" (click)="goInvoiceInfo()" *ngIf="cid">
          <span class="left-title">发票信息</span>
          <div item-right class="rigth-message">
            <!-- <span>1 条记录</span> -->
            <ion-icon name="arrow-forward" class="ml12"></ion-icon>
          </div>
      </ion-item>
      <ion-item (click)="goPaymentInfo()" no-lines *ngIf="cid">
          <span class="left-title">付款人信息</span>
          <div item-right class="rigth-message">
            <span *ngIf="companyDetaiData.payCount">{{companyDetaiData.payCount}} 条记录</span>
            <ion-icon name="arrow-forward" class="ml12"></ion-icon>
          </div>
      </ion-item>
      <ion-item class="mt10">
          <ion-label class="left-title">设为默认</ion-label>
          <ion-toggle [(ngModel)]="isdefault"></ion-toggle>
      </ion-item>
      <ion-item class="" (click)="onDeleteItem()" no-lines>
        <ion-icon class="left-icon" name="ios-trash-outline" start isActive></ion-icon>
        <span class="left-title" style="color: #fc6868;">删除公司</span>
        <div item-right class="rigth-message">
          <ion-icon name="arrow-forward" color="#cfcfcf" class="ml12"></ion-icon>
        </div>
      </ion-item>
    </ion-list>
    <div style="height:100px;"></div>
    <!-- <div class="fixed-bottom">
        <button ion-button class="btn-submit" (click)="onChooseSubmit()">提交</button>
        <button ion-button class="btn-delete" (click)="onChooseSubmit()">删除</button>
    </div> -->

    <button ion-button expand="full" large class="fixed-bottom" (click)="onCompanySubmit()">保存</button>
    
</ion-content>

<!--弹出框-->
<div class="phonebind-modal" [hidden]="!isShow">
  <div class="modal-bg"></div>
  <div class="modal-box">
    <div class="modal-top">
      <div class="modal-top-close">
        <ion-icon ios="ios-close" md="md-close" item-rigth (click)="onClose()" color=""></ion-icon>
      </div>
      <div class="modal-title">删除公司信息</div>
      <div class="modal-content">
          <p>您将要删除当前公司信息，公司信息被删除后，您将不能使用当前公司信息发布项目</p>
          <p>如果您的账号当中没有其他可用的公司信息，您将无法在平台继续发布项目。</p>
      </div>
      <div class="modal-footer">
          <button ion-button full large (click)="onClose()">返回</button>
          <button ion-button full large (click)="onCompanyDel()" class="btn-delete">删除</button>
      </div>
    </div>
  </div>
</div>
 <!-- 电话号码错误弹框 -->
 <div class="phonebind-modal" [hidden]="!isPhoneProper">
  <div class="modal-bg"></div>
  <div class="modal-box">
    <div class="modal-top">
      <div class="modal-top-close">
        <!-- <ion-icon ios="ios-close" md="md-close" item-rigth (click)="onClose()" color=""></ion-icon> -->
      </div>
      <div class="modal-title">提示</div>
      <div class="modal-content">
        <p class="modal-center">请输入正确电话号码</p>
      </div>
      <div class="modal-footer">
        <button ion-button full large (click)="surePhone()">确定</button>
        <!-- <button ion-button full large (click)="onCompanyDel()" class="btn-delete">返回</button> -->
      </div>
    </div>
  </div>
</div>
