page-speed {
    .project-header {
        .toolbar-content-md {
            display: flex;
        }
    }
    .content {
        width: 100%;
        background: #fcfcfc;
        .list-ios {
            margin: 0;
        }
        .label-ios {
            margin: 0;
            line-height: 52px;
        }
        .label-md  {
            margin: 0;
            line-height: 52px;
        }
        ion-label {
            overflow: initial;
            height: 100%;
        }

        .company-list {
            background-color: #fcfcfc;
            margin-bottom: 49px;
            .prompt-item {
                width: 100%;
                height: 47px;
                .prompt {
                    width: 100%;
                    height: 100%;
                    font-family: PingFangSC;
                    font-size: 12px;
                    font-weight: 600;
                    color: #c7c7c7;
                    line-height: 57px;
                    padding-left: 5px;
                }
            }
            .item-tarea {
                height: 206px;
                font-family: PingFangSC;
                font-size: 14px;
                font-weight: 600;
                color: #c7c7c7;
                margin-top: 10px;
                background: #fff;
                .text-input-ios {
                    margin: 0;
                }
                .text-input-md {
                    margin: 0;
                    /* padding: 0; */
                    width: calc(100% - 8px - 8px);
                }
                .ion-textarea {
                    font-family: PingFangSC;
                    font-size: 14px;
                    font-weight: 600;
                    color: #000;
                    .text-input-ios {
                        height: 100%;
                        padding: 10px 0;
                    }
                }
            }
            .speech-prompt {
                // width: 228px;
                height: 17px;
                font-family: PingFangSC;
                font-size: 12px;
                font-weight: 600;
                color: #c7c7c7;
                margin-left: 15px;
                margin-top: 15px;
                background: #fcfcfc;
            }
            .start-box {
                width: 100%;
                height: auto;
                display: flex;
                margin-top: 15px;
                background: #fcfcfc;
                .item-play {
                    width: 55%;
                    height: 155px;
                    margin: 0 15px;
                    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.05);
                    .item-audio {
                        width: 100%;
                        height: 100%;
                        overflow-y: scroll;
                        .audio-mengu {
                            width: 145px;
                            height: 32px;
                            border-radius: 3px;
                            background-color: #5da2f4;
                            margin-top: 14px;
                            display: flex;
                            margin: 15px 0;
                            .audio-spinner {
                                width: 14px;
                                height: 11px;
                                /* padding-top: 5px; */
                                /* padding-left: 10px; */
                                -webkit-box-flex: 1;
                                -webkit-flex: 1;
                                -ms-flex: 1;
                                flex: 1;
                                margin-top: -10px;
                                margin-left: 6px;
                                img {
                                    max-width: 100%;
                                    height: 100%;
                                    border: 0
                                }
                            }
                            .audio-spinner1 {
                                width: 100%;
                                height: 20px;
                                margin-left: 6px;
                                margin-top: -10px;
                                div {
                                    width: 100%;
                                    height: 12px;
                                    background-color: #fff;
                                    display: inline-block;
                                    width: 2px;
                                    margin-left: -3px;
                                    animation: strechdelay 1s infinite ease-in-out;
                                    -webkit-animation: strechdelaytwo 1s infinite ease-in-out;
                                    position: relative;
                                    top: 1px;
                                    opacity: .8;
                                }
                                .line2 {
                                    animation-delay: -0.9s;
                                    -webkit-animation-delay: -0.9s;
                                }
                                .line3 {
                                    animation-delay: -0.8s;
                                    -webkit-animation-delay: -0.8s;
                                }
                                .line4 {
                                    animation-delay: -0.7s;
                                    -webkit-animation-delay: -0.7s;
                                }
                                .line5 {
                                    animation-delay: -0.6s;
                                    -webkit-animation-delay: -0.6s;
                                }
                                @keyframes strechdelaytwo {
                                    0%,
                                    40%,
                                    100% {
                                        transform: scaleY(.4);
                                        -webkit-transform: scaleY(.4);
                                    }
                                    20% {
                                        transform: scaleY(1);
                                        -webkit-transform: scaleY(1);
                                    }
                                }
                                @-webkit-keyframes strechdelaytwo {
                                    0%,
                                    40%,
                                    100% {
                                        -webkit-transform: scaleY(.4);
                                    }
                                    20% {
                                        -webkit-transform: scaleY(1);
                                    }
                                }
                            }
                            .click-play {
                                width: 57px;
                                height: 17px;
                                font-family: PingFangSC;
                                font-size: 12px;
                                font-weight: 600;
                                color: #ffffff;
                                margin-right: 47px;
                                line-height: 32px;
                                flex: 1;
                            }
                            .icon-close {
                                // width: 20px;
                                // height: 12px;
                                // border-radius: 50%;
                                // background-color: #fff;
                                // position: relative;
                                // top: 10px;
                                // right: 10px;  
                                // color: #5da2f4;
                                margin-top: -10px;
                                margin-right: 6px;
                                color: #fff;
                                flex: 1;
                                ion-icon {
                                    font-size: 14px;
                                } // ion-icon {
                                //     position: relative;
                                //     left: 5px;
                                //     bottom: 5px;
                                //     font-size: 12px;
                                //     font-weight: 600;
                                // }
                            }
                        }
                    }
                    .item-audio::-webkit-scrollbar {
                        display: none;
                    }
                    .spinner {
                        width: 100%;
                        height: 155px;
                        opacity: 0.5;
                        border-radius: 3px;
                        -webkit-backdrop-filter: blur(30px);
                        backdrop-filter: blur(30px);
                        background-color: #000000;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    .spinner-list {
                        width: 100%;
                        height: 50px;
                        padding-top: 31px;
                        text-align: center;
                    }
                    .spinner-list div {
                        width: 100px;
                        height: 30.2px;
                        background-color: #ffffff;
                        display: inline-block;
                        width: 3px;
                        margin-left: 1px;
                        margin-right: 1px;
                        animation: strechdelay 1s infinite ease-in-out;
                        -webkit-animation: strechdelay 1s infinite ease-in-out;
                        animation-direction: reverse;
                    }
                    .spinner-list .line2 {
                        animation-delay: -0.9s;
                        -webkit-animation-delay: -0.9s;
                    }
                    .spinner-list .line3 {
                        animation-delay: -0.8s;
                        -webkit-animation-delay: -0.8s;
                    }
                    .spinner-list .line4 {
                        animation-delay: -0.7s;
                        -webkit-animation-delay: -0.7s;
                    }
                    .spinner-list .line5 {
                        animation-delay: -0.6s;
                        -webkit-animation-delay: -0.6s;
                    }
                    @keyframes strechdelay {
                        0%,
                        40%,
                        100% {
                            transform: scaleY(.4);
                            -webkit-transform: scaleY(.4);
                        }
                        20% {
                            transform: scaleY(1);
                            -webkit-transform: scaleY(1);
                        }
                    }
                    @-webkit-keyframes strechdelay {
                        0%,
                        40%,
                        100% {
                            -webkit-transform: scaleY(.4);
                        }
                        20% {
                            -webkit-transform: scaleY(1);
                        }
                    }
                    .luying {
                        // width: 79px;
                        height: 17px;
                        font-family: PingFangSC;
                        font-size: 12px;
                        font-weight: 600;
                        letter-spacing: 0.2px;
                        text-align: center;
                        color: #ffffff;
                        padding: 30px 0;
                    }
                }
                .item-import {
                    width: 40%;
                    height: 155px;
                    margin-right: 10px;
                    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.05);
                    .item-ios {
                        padding-left: 10px;
                    }
                    .icon-shape {
                        // width: 22px;
                        height: 33px;
                        object-fit: contain;
                        color: #ff6536;
                        text-align: center;
                        // padding: 40px 20px 40px 40px;
                        padding: 40px;
                        ion-icon {
                            font-size: 30px !important;
                            // margin-left: 55px;
                            // padding: 0 40px;
                        }
                    }
                    .Lonespeech {
                        // width: 90.8px;
                        height: 17px;
                        font-family: PingFangSC;
                        font-size: 12px;
                        font-weight: 700;
                        letter-spacing: 0.2px;
                        text-align: center;
                        color: #505050;
                        // padding: 15px 20px 15px 20px;
                        padding: 15px 0;
                    }
                }
            }
            .promptbot {
                // width: 216px;
                height: 20px;
                font-family: PingFangSC;
                font-size: 12px;
                font-weight: 600;
                color: #c7c7c7;
                margin-left: 15px;
                margin-top: 20px;
                background: #fcfcfc;
            }
            .release-btn {
                font-family: PingFangSC;
                font-size: 14px;
                font-weight: 600;
                .left-icon {
                    color: #ff6536;
                    margin-right: 8px;
                    font-size: 15px;
                    margin-top: 3px;
                    object-fit: contain;
                }
                .left-title {
                    color: #4a4a4a;
                }
                .rigth-message {
                    font-size: 12px;
                    color: #9b9b9b;
                    span {
                        font-family: PingFangSC;
                        font-size: 12px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        text-align: right;
                        color: #9b9b9b;
                    }
                }
                // margin-bottom: 40px;
                // background: #fff;
                // .label-ios {
                //     display: flex;
                //     justify-content: space-between;
                //     margin: 0;
                //     line-height: 54px;
                // }
                // width: 100%;
                // margin-top: 10px;
                // display: flex;
                // .backone {
                //     width: 48%;
                //     height: 20px;
                //     display: flex;
                //     span:nth-child(1) {
                //         display: block;
                //         width: 15px;
                //         height: 15px;
                //         object-fit: contain;
                //         ion-icon {
                //             font-size: 15px;
                //             font-weight: 600;
                //             color: #ff6536;
                //         }
                //     }
                //     span:nth-child(2) {
                //         display: block;
                //         width: 141px;
                //         height: 20px;
                //         font-family: PingFangSC;
                //         font-size: 14px;
                //         font-weight: 600;
                //         color: #4a4a4a;
                //         margin-left: 8px;
                //     }
                // }
                // .two {
                //     height: 20px;
                //     font-family: PingFangSC;
                //     font-size: 14px;
                //     text-align: right;
                //     color: #9b9b9b;
                // }
            }
        }
        .speed-footer {
            width: 100%;
            height: 50px;
            background-color: #ff6536;
            position: fixed;
            bottom: 0;
            font-family: PingFangSC;
            font-size: 15px;
            font-weight: 600;
            text-align: center;
            color: #ffffff;
            line-height: 50px;
        }
    } // 弹出层
    .phonebind-modal {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        z-index: 1000;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        contain: strict;
        z-index: 99999;
        .modal-bg {
            left: 0;
            top: 0;
            position: absolute;
            z-index: 2;
            display: block;
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: .2;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }
        .modal-box {
            background-color: #fff;
            margin: 0 40px;
            padding: 0 20px 20px;
            z-index: 10;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 250px;
            max-height: 90%; // opacity: 0;
            contain: content;
            font-family: PingFangSC;
            font-weight: 600;
            text-align: center;
            color: #4a4a4a;
            border-radius: 3px;
            box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.05);
            .modal-content {
                overflow: auto;
                text-align: left;
                font-size: 14px;
                line-height: 1.8;
                font-weight: 500;
                p {
                    font-family: PingFangSC;
                    font-size: 14px;
                    line-height: 1.29;
                    text-align: justify;
                    color: #4a4a4a; // text-indent: 2rem;
                }
            }
            .modal-top-close {
                text-align: right;
                margin-top: 5px;
                ion-icon {
                    font-size: 28px;
                }
            }
            .modal-title {
                color: #ff6536;
                margin-bottom: .5rem;
                padding-right: 5px;
            }
            .modal-footer {
                button {
                    height: 40px;
                    margin: 0;
                    margin-top: .8rem;
                    border-radius: 3px;
                    font-size: 1.2rem;
                    font-weight: 600;
                    &.btn-delete {
                        background-color: #e9e9e9;
                        color: #fc6868;
                    }
                }
            }
        }
    }
}