page-consultant-info-avatar {
    .result{
        visibility: hidden;
    }
    #custom-input{
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        cursor: pointer
    }
    .imgcropper,.imgcropper img{
        width: 100%;
        padding: 0;
    }
    .cropper{
        border-radius: 50%;
    }
    .btn-upload{
        display: block;
        margin: 0 auto;
    }
}
