<!--
  Generated template for the ProjectEditStep2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>项目详情编辑</ion-title>
  </ion-navbar>

</ion-header>

<ion-content style="background-color: #fcfcfc;">
  <p class="browser-file">请填写公司相关信息</p>
  <div class="steps-list mt10">
    <span class="steps-round checked"></span>
    <span class="steps-line checked"></span>
    <span class="steps-round checked"></span>
    <span class="steps-line"></span>
    <span class="steps-round"></span>
  </div>
  <ion-list class="list-item-flex mt20">
    <ion-item no-lines (click)="goFormEditPage('projectName',projectData.projectName,'text')">
      <label>项目名称
        <span class="required-field ml5">(必填)</span>
      </label>
      <p item-right class="rigth-message">
        <span class="item-value line-overflow">{{projectData.projectName || '请拟定项目标题'}}</span>
        <ion-icon class="icon" name="arrow-forward"></ion-icon>
      </p>
    </ion-item>
  </ion-list>
  <ion-list class="list-item-flex mt10">
    <ion-item (click)="goFormEditPage('description',projectData.description,'textarea')">
      <label>项目描述
        <span class="required-field ml5">(必填)</span>
      </label>
      <p item-right class="rigth-message">
        <span item-right class="item-value line-overflow">{{projectData.description || '对项目需求的详细描述'}}</span>
        <ion-icon class="icon" name="arrow-forward"></ion-icon>
      </p>
    </ion-item>
    <ion-item (click)="goFormEditPage('target',projectData.target,'textarea')">
      <label>发布标的</label>
      <p item-right class="rigth-message">
        <span item-right class="item-value line-overflow">{{projectData.target || '交付物内容及类型'}}</span>
        <ion-icon class="icon" name="arrow-forward"></ion-icon>
      </p>
    </ion-item>
    <ion-item no-lines (click)="goFormEditPage('note',projectData.note,'textarea')">
      <label>备注</label>
      <p item-right class="rigth-message">
        <span item-right class="item-value line-overflow">{{projectData.note || '其他要求'}}</span>
        <ion-icon class="icon" name="arrow-forward"></ion-icon>
      </p>
    </ion-item>
  </ion-list>
  <p class="browser-file">请选择发布类型（目前为完整发布模式）</p>
  <ion-list class="list-item-flex mt10">
    <ion-item no-lines (click)="goSpeedPage()">
      <label>
        <span><ion-icon class="left-icon" name="agile" start isActive></ion-icon></span>
        返回快速发布
      </label>
      <p item-right class="rigth-message">
        <span class="item-value line-overflow">留下简要的项目说明</span>
        <ion-icon class="icon" name="arrow-forward"></ion-icon>
      </p>
    </ion-item>
  </ion-list>
  <div style="height:50px;"></div>
  <div class="fixed-bottom" *ngIf="!isEdit">
    <button ion-button class="btn-submit" (click)="goStep3Page()">下一步</button>
    <button ion-button class="btn-delete" (click)="onDraftSubmit()">存为草稿</button>
  </div>
  <div class="fixed-bottom" *ngIf="isEdit">
    <button ion-button class="btn-submit" (click)="goStep3Page()">下一步</button>
    <button ion-button class="btn-delete" (click)="onDraftSubmit(1)">保存</button>
  </div>
</ion-content>
<!-- 返回快速发布弹框 -->
<div class="phonebind-modal" [hidden]="!isShow">
  <div class="modal-bg"></div>
  <div class="modal-box">
    <div class="modal-top">
      <div class="modal-top-close">
        <!-- <ion-icon ios="ios-close" md="md-close" item-rigth (click)="onClose()" color=""></ion-icon> -->
      </div>
      <div class="modal-title">切换发布方式</div>
      <div class="modal-content">
        <p>切换发布方式之后，部分您已经填写的信息将不会被保存，确定要继续么？</p>
      </div>
      <div class="modal-footer">
        <button ion-button full large (click)="goClientProjectSpeedPage()">继续返回快速发布</button>
        <button ion-button full large (click)="onCompanyDel()" class="btn-delete">返回</button>
      </div>
    </div>
  </div>
</div>
<!-- 填写完整弹框 -->
<div class="phonebind-modal" [hidden]="!isComplete">
  <div class="modal-bg"></div>
  <div class="modal-box">
    <div class="modal-top">
      <div class="modal-top-close">
        <!-- <ion-icon ios="ios-close" md="md-close" item-rigth (click)="onClose()" color=""></ion-icon> -->
      </div>
      <div class="modal-title">提示</div>
      <div class="modal-content" style="text-align:center">
        <p class="modal-center">请将所有必填项填写完整</p>
      </div>
      <div class="modal-footer">
        <button ion-button full large (click)="sureComplete()">确定</button>
        <!-- <button ion-button full large (click)="onCompanyDel()" class="btn-delete">返回</button> -->
      </div>
    </div>
  </div>
</div>
<div class="phonebind-modal" [hidden]="!isSubmit">
  <div class="modal-bg"></div>
  <div class="modal-box">
    <div class="modal-top">
      <div class="modal-top-close">
        <!-- <ion-icon ios="ios-close" md="md-close" item-rigth (click)="onClose()" color=""></ion-icon> -->
      </div>
      <div class="modal-title">提示</div>
      <div class="modal-content" style="text-align:center">
        <p>保存成功</p>
      </div>
      <div class="modal-footer">
        <button ion-button full large (click)="sureSubmit()">确定</button>
        <!-- <button ion-button full large (click)="onCompanyDel()" class="btn-delete">返回</button> -->
      </div>
    </div>
  </div>
</div>
<div class="phonebind-modal" [hidden]="!isfailed">
  <div class="modal-bg"></div>
  <div class="modal-box">
    <div class="modal-top">
      <div class="modal-top-close">
        <!-- <ion-icon ios="ios-close" md="md-close" item-rigth (click)="onClose()" color=""></ion-icon> -->
      </div>
      <div class="modal-title">提示</div>
      <div class="modal-content">
        <p style="text-align:center">保存失败，请重新保存</p>
      </div>
      <div class="modal-footer">
        <button ion-button full large (click)="sureFailed()">确定</button>
        <!-- <button ion-button full large (click)="onCompanyDel()" class="btn-delete">返回</button> -->
      </div>
    </div>
  </div>
</div>