<!--
  Generated template for the ProjectDecumentListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header  class="project-header">

  <ion-navbar hideBackButton="true">
    <ion-buttons side="left"  style="order: 0">
      <button ion-button icon-only color="royal" (click)="goback()" class="returnBtn">
        <ion-icon name="arrow-back">&nbsp;返回</ion-icon>
      </button>
    </ion-buttons>
    <ion-title>文档列表</ion-title>
  </ion-navbar>
</ion-header>

<div class="nav-menu" *ngIf="isShowNavMenu">
  <ion-list class="nav-list-menu">
    <ion-item no-lines (click)="onNavMenuClick(false)">
      <p class="list-header-left">{{showNavMenuName || '文档'}}</p>
      <div class="list-header-right" item-end>
        <span>收起</span>
      </div>
    </ion-item>
  </ion-list>
  <div class="nav-menu-bg"></div>
  <ion-list class="nav-menu-list">
    <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(1,'详情')">
      <label>详情</label>
      <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
    </ion-item>
    <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(2,'方案')">
      <label>方案</label>
      <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
    </ion-item>
    <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(3,'阶段',-1)">
      <label>阶段</label>
      <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
    </ion-item>
    <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(4,'文档',-1)">
      <label>文档</label>
      <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
    </ion-item>
    <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(5,'收款记录',-1)" no-lines>
      <label>收款记录</label>
      <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
    </ion-item>
  </ion-list>
</div>

<ion-content style="background-color: #fcfcfc;">
  <ion-list class="nav-list-menu">
    <ion-item no-lines (click)="onNavMenuClick(true)">
      <p class="list-header-left">{{showNavMenuName || '文档'}}</p>
      <div class="list-header-right" item-end>
        <span>展开</span>
      </div>
    </ion-item>
  </ion-list>

  <div *ngIf="isCont">
      <div class="no-content">
        <h4 class="title">文档列表</h4>
        <div class="img">
          <img src="../../../../assets/imgs/tuijain.png" alt="">
        </div>
        <p class="tip" *ngIf="!isAction">该分类暂无内容，项目发展到不同阶段时，不同的分类下会有对应的新增内容</p>
        <p class="tip" *ngIf="isAction">当前分类暂时为空，点击下方按钮添加文档。</p>
        <button class="btn" ion-button (click)="gotodo()" *ngIf="!isAction">返回</button>
      </div>
  </div>

  <ion-list class="card-item mt20" *ngFor="let documentListData_item of documentListData">
    <ion-item no-lines>
      <div class="card-item-top">
        <!-- <div class="item-top-left">第二阶段 <span class="color-f46f46">交付物</span></div> -->
        <div class="item-top-left">
          <span class="color-f46f46" *ngIf="documentListData_item.type == 0">交付物</span>
          <span class="color-f46f46" *ngIf="documentListData_item.type == 1">其他文档</span>
        </div>
        <span class="item-top-right">{{documentListData_item.createTime | date: 'yyyy/MM/dd'}}</span>
      </div>
      <div class="card-item-label">
        <label>
          <img style="width:66px;height:66px;" src="assets/imgs/doc.png" *ngIf="formatTypes(documentListData_item.typeStr) == 'doc'">
          <img style="width:66px;height:66px;" src="assets/imgs/ppt.png" *ngIf="formatTypes(documentListData_item.typeStr) == 'ppt'">
          <img style="width:66px;height:66px;" src="assets/imgs/xls.png" *ngIf="formatTypes(documentListData_item.typeStr) == 'xls'">
          <img style="width:66px;height:66px;" src="assets/imgs/png.png" *ngIf="formatTypes(documentListData_item.typeStr) == 'jpg'">
          <img style="width:66px;height:66px;" src="assets/imgs/pdf.png" *ngIf="formatTypes(documentListData_item.typeStr) == 'pdf'">
        </label>
        <a href="{{documentListData_item.deliverableUrl}}" style="text-decoration:none">
          <div class="card-cont" data-src="url">
            <h5>{{documentListData_item.sourceName || filetitle}}</h5>
            <p class="browser-file">点击查看文件预览</p>
            <p class="browser-size" *ngIf="(documentListData_item['urlSize'] / 1048576).toPrecision(3) > 1">{{(documentListData_item['urlSize']
              / 1048576).toPrecision(3) || filesize}} MB</p>
            <p class="browser-size" *ngIf="(documentListData_item['urlSize'] / 1048576).toPrecision(3) < 1">{{(documentListData_item['urlSize']
              / 1048576).toPrecision(3) || filesize}} KB</p>
          </div>
        </a>
      </div>
    </ion-item>
    <ion-item class="lines-top" no-lines>
      <div class="card-item-label">
        <label>文档名称</label>
        <p class="card-cont">{{documentListData_item.name}}</p>
      </div>
      <div class="card-item-label mt10">
        <label>文档描述</label>
        <!-- <p class="card-cont">{{documentListData_item.introduction}}</p> -->
        <p class="card-cont" [innerHTML]="assembleHTML(documentListData_item.introduction)"></p>
      </div>
      <div class="msg-footer" (click)="goDocumentBrowser(documentListData_item)">
        <span class="msg-footer-text">查看详情</span>
        <ion-icon name="arrow-forward" class="ml12"></ion-icon>
      </div>
    </ion-item>
  </ion-list>
  <div style="height:50px;"></div>
  <button ion-button expand="full" large class="fixed-bottom" (click)="onAddDocumentClick()" *ngIf="isAction">上传新附件</button>
</ion-content>