<!--
  Generated template for the ProjectEditStep2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>项目详情编辑3</ion-title>
  </ion-navbar>

</ion-header>

<ion-content style="background-color: #fcfcfc;">
  <p class="browser-file">请填写公司相关信息</p>
  <div class="steps-list mt10">
    <span class="steps-round checked"></span>
    <span class="steps-line checked"></span>
    <span class="steps-round checked"></span>
    <span class="steps-line checked"></span>
    <span class="steps-round checked"></span>
  </div>
  <ion-list class="list-item-flex mt20">
    <ion-item (click)="goFormEditPage('industryList',projectData.industryList,'selectArr')">
      <label>所在行业</label>
      <p item-right class="rigth-message">
        <!-- <span class="item-value line-overflow">阿里拉拉</span> -->
        <span *ngIf="projectData.industryList && projectData.industryList.length<1" class="item-value line-overflow"></span>
        <span *ngIf="projectData.industryList && projectData.industryList.length==1" class="item-value line-overflow">{{projectData.industryList[0].text
          || projectData.industryList[0].industryName}}</span>
        <span *ngIf="projectData.industryList && projectData.industryList.length>1" class="item-value line-overflow">{{projectData.industryList[0].text
          || projectData.industryList[0].industryName}}
          等</span>
        <ion-icon class="icon" name="arrow-forward"></ion-icon>
      </p>
    </ion-item>
    <ion-item (click)="goFormEditPage('skillList',projectData.skillList,'selectArr')">
      <label>专长领域</label>
      <p item-right class="rigth-message">
        <!-- <span item-right class="item-value line-overflow">请输入对接人姓名</span> -->
        <span *ngIf="projectData.skillList && projectData.skillList.length<1" class="item-value line-overflow"></span>
        <span *ngIf="projectData.skillList && projectData.skillList.length==1" class="item-value line-overflow">{{projectData.skillList[0].text ||
          projectData.skillList[0].skillName}}</span>
        <span *ngIf="projectData.skillList && projectData.skillList.length>1" class="item-value line-overflow">{{projectData.skillList[0].text ||
          projectData.skillList[0].skillName}} 等</span>
        <ion-icon class="icon" name="arrow-forward"></ion-icon>
      </p>
    </ion-item>
    <ion-item (click)="goFormEditPage('projectTime',projectData,'timeSelect')">
      <label>项目时间</label>
      <p item-right class="rigth-message">
        <span item-right class="item-value line-overflow" *ngIf="projectData.projectLengthType == 0">0-3 个月</span>
        <span item-right class="item-value line-overflow" *ngIf="projectData.projectLengthType == 1">3-6 个月</span>
        <span item-right class="item-value line-overflow" *ngIf="projectData.projectLengthType == 2">6-12 个月</span>
        <span item-right class="item-value line-overflow" *ngIf="projectData.projectLengthType == 3">{{projectData.projectLength}}</span>
        <ion-icon class="icon" name="arrow-forward"></ion-icon>
      </p>
    </ion-item>
    <ion-item (click)="goFormEditPage('startTime',projectData,'timeSelect')">
      <label>开始时间
        <span class="required-field ml5">(必填)</span>
      </label>
      <p item-right class="rigth-message">
        <span item-right class="item-value line-overflow" *ngIf="projectData.startTimeType == 0">尽快开始</span>
        <span item-right class="item-value line-overflow" *ngIf="projectData.startTimeType == 2">待商议</span>
        <span item-right class="item-value line-overflow" *ngIf="projectData.startTimeType == 1">{{projectData.startTime
          | date: 'yyyy-MM-dd'}}</span>
        <ion-icon class="icon" name="arrow-forward"></ion-icon>
      </p>
    </ion-item>
    <ion-item (click)="goFormEditPage('deliverMethod',projectData.deliverMethod,'select')">
      <label>是否驻场
        <span class="required-field ml5">(必填)</span>
      </label>
      <p item-right class="rigth-message">
        <span item-right class="item-value line-overflow" *ngIf="projectData.deliverMethod == 0">驻场</span>
        <span item-right class="item-value line-overflow" *ngIf="projectData.deliverMethod == 1">非驻场</span>
        <span item-right class="item-value line-overflow" *ngIf="projectData.deliverMethod == 2">待商议</span>
        <ion-icon class="icon" name="arrow-forward"></ion-icon>
      </p>
    </ion-item>
    <ion-item no-lines (click)="goFormEditPage('province-city',[projectData.province,projectData.city],'province-city')">
      <label>项目地点
        <span class="required-field ml5">(必填)</span>
      </label>
      <p item-right class="rigth-message">
        <span item-right class="item-value line-overflow">{{projectData.province}} {{projectData.city}}</span>
        <ion-icon class="icon" name="arrow-forward"></ion-icon>
      </p>
    </ion-item>
  </ion-list>
  <ion-list class="list-item-flex mt10">
    <ion-item (click)="goFormEditPage('project_budget',projectData,'timeSelect')">
      <label>项目预算
        <span class="required-field ml5">(必填)</span>
      </label>
      <p item-right class="rigth-message">
        <span item-right class="item-value line-overflow" *ngIf="projectData.budgetType == 2">待商议</span>
        <span item-right class="item-value line-overflow" *ngIf="projectData.budgetType == 0 || projectData.budgetType == 1">{{projectData.budget
          | currency : '￥'}}
          元
        </span>
        <ion-icon class="icon" name="arrow-forward"></ion-icon>
      </p>
    </ion-item>
    <ion-item (click)="goFormEditPage('planguage',projectData.planguage,'timeSelect')">
      <label>语言要求</label>
      <p item-right class="rigth-message">
        <span item-right class="item-value line-overflow" *ngIf="projectData.planguage && projectData.planguage.length>0">
          <span *ngFor="let languageList_item of projectData.planguage">{{languageList_item.language}} .
            <span *ngIf="languageList_item.grade == 0">母语</span>
            <span *ngIf="languageList_item.grade == 1">精通</span>
            <span *ngIf="languageList_item.grade == 2">熟练</span>
            <span *ngIf="languageList_item.grade == 3">一般</span>
          </span>
        </span>
        <span item-right class="item-value line-overflow" *ngIf="!projectData.planguage || projectData.planguage.length<1">请选择</span>
        <ion-icon class="icon" name="arrow-forward"></ion-icon>
      </p>
    </ion-item>
    <ion-item no-lines (click)="goFormEditPage('qualification',projectData.qualification,'timeSelect')">
      <label>资质要求</label>
      <p item-right class="rigth-message">
        <span item-right class="item-value line-overflow" *ngIf="projectData.qualification == 0">初级</span>
        <span item-right class="item-value line-overflow" *ngIf="projectData.qualification == 1">中级</span>
        <span item-right class="item-value line-overflow" *ngIf="projectData.qualification == 2">高级</span>
        <span item-right class="item-value line-overflow" *ngIf="projectData.qualification == 3">专家</span>
        <ion-icon class="icon" name="arrow-forward"></ion-icon>
      </p>
    </ion-item>
  </ion-list>
  <p class="browser-file">请选择发布类型（目前为完整发布模式）</p>
  <ion-list class="list-item-flex mt10">
    <ion-item no-lines (click)="goSpeedPage()">
      <label>
        <span><ion-icon class="left-icon" name="agile" start isActive></ion-icon></span>
        返回快速发布
      </label>
      <p item-right class="rigth-message">
        <span class="item-value line-overflow">留下简要的项目说明</span>
        <ion-icon class="icon" name="arrow-forward"></ion-icon>
      </p>
    </ion-item>
  </ion-list>
  <div style="height:100px;"></div>
  <div class="fixed-bottom" *ngIf="!isEdit">
    <button ion-button class="btn-submit" (click)="goProjectSubmit()">发布</button>
    <button ion-button class="btn-delete" (click)="onDraftSubmit()">存为草稿</button>
  </div>
  <button ion-button expand="full" large class="fixed-bottom" (click)="onDraftSubmit(1)" *ngIf="isEdit">保存</button>
</ion-content>
<!--弹出框-->
<div class="phonebind-modal" [hidden]="!isShow">
  <div class="modal-bg"></div>
  <div class="modal-box">
    <div class="modal-top">
      <div class="modal-top-close">
        <!-- <ion-icon ios="ios-close" md="md-close" item-rigth (click)="onClose()" color=""></ion-icon> -->
      </div>
      <div class="modal-title">
        <img src="../../../../assets/imgs/success-icon.png" alt="">
      </div>
      <div class="modal-title">发送成功</div>
      <div class="modal-content">
        <p>您的项目已经发布成功，我们将在尽快对项目展开审核，结果将会以邮件和短信的形式通知您。</p>
      </div>
      <div class="modal-footer">
        <button ion-button full large (click)="goClientProjectPage()">返回项目列表</button>
        <!-- <button ion-button full large (click)="onCompanyDel()" class="btn-delete">返回</button> -->
      </div>
    </div>
  </div>
</div>
<div class="phonebind-modal" [hidden]="!isReleaseFailed">
    <div class="modal-bg"></div>
    <div class="modal-box">
      <div class="modal-top">
        <div class="modal-top-close">
          <!-- <ion-icon ios="ios-close" md="md-close" item-rigth (click)="onClose()" color=""></ion-icon> -->
        </div>
        <div class="modal-content">
          <p>发布失败，请稍后再试！</p>
        </div>
        <div class="modal-footer">
          <button ion-button full large (click)="ReleaseFailed()">确定</button>
          <!-- <button ion-button full large (click)="onCompanyDel()" class="btn-delete">返回</button> -->
        </div>
      </div>
    </div>
  </div>
<!-- 返回快速发布弹框 -->
<div class="phonebind-modal" [hidden]="!isSpeed">
  <div class="modal-bg"></div>
  <div class="modal-box">
    <div class="modal-top">
      <div class="modal-top-close">
        <!-- <ion-icon ios="ios-close" md="md-close" item-rigth (click)="onClose()" color=""></ion-icon> -->
      </div>
      <div class="modal-title">切换发布方式</div>
      <div class="modal-content">
        <p>切换发布方式之后，部分您已经填写的信息将不会被保存，确定要继续么？</p>
      </div>
      <div class="modal-footer">
        <button ion-button full large (click)="goClientProjectSpeedPage()">继续返回快速发布</button>
        <button ion-button full large (click)="onCompanyDel()" class="btn-delete">返回</button>
      </div>
    </div>
  </div>
</div>
<!-- 填写完整弹框 -->
<div class="phonebind-modal" [hidden]="!isComplete">
  <div class="modal-bg"></div>
  <div class="modal-box">
    <div class="modal-top">
      <div class="modal-top-close">
        <!-- <ion-icon ios="ios-close" md="md-close" item-rigth (click)="onClose()" color=""></ion-icon> -->
      </div>
      <div class="modal-title">提示</div>
      <div class="modal-content">
        <p class="modal-center">请将所有必填项填写完整</p>
      </div>
      <div class="modal-footer">
        <button ion-button full large (click)="sureComplete()">确定</button>
        <!-- <button ion-button full large (click)="onCompanyDel()" class="btn-delete">返回</button> -->
      </div>
    </div>
  </div>
</div>
<div class="phonebind-modal" [hidden]="!isSubmit">
  <div class="modal-bg"></div>
  <div class="modal-box">
    <div class="modal-top">
      <div class="modal-top-close">
        <!-- <ion-icon ios="ios-close" md="md-close" item-rigth (click)="onClose()" color=""></ion-icon> -->
      </div>
      <div class="modal-title">提示</div>
      <div class="modal-content">
        <p>保存成功</p>
      </div>
      <div class="modal-footer">
        <button ion-button full large (click)="sureSubmit()">确定</button>
        <!-- <button ion-button full large (click)="onCompanyDel()" class="btn-delete">返回</button> -->
      </div>
    </div>
  </div>
</div>
<div class="phonebind-modal" [hidden]="!isfailed">
  <div class="modal-bg"></div>
  <div class="modal-box">
    <div class="modal-top">
      <div class="modal-top-close">
        <!-- <ion-icon ios="ios-close" md="md-close" item-rigth (click)="onClose()" color=""></ion-icon> -->
      </div>
      <div class="modal-title">提示</div>
      <div class="modal-content">
        <p>保存失败，请重新保存</p>
      </div>
      <div class="modal-footer">
        <button ion-button full large (click)="sureFailed()">确定</button>
        <!-- <button ion-button full large (click)="onCompanyDel()" class="btn-delete">返回</button> -->
      </div>
    </div>
  </div>
</div>