.user-center {
    background-color: #F7F7F7;
    ion-list,ion-grid {
        background-color: #fff; 
    }
}

ion-avatar img {
    width: 100px;
    height: 100px;
}
.h100{
    width: 100px;
    height: 100px;
}
.boder-rads{
    border-radius: 50%;
}
.user-info-list {
    padding: 10px 5px;
    // border-bottom: 5px solid #f0f0f0;
}

// .user-info {
    
//     .title-name {
//         h2 {
//             display: inline-block;
//             font-size: 2.6rem;
//         }
//         span {
//             padding: 2px 10px;
//             border-radius: 15px;
//             font-size: 14px;
            
//         }
//         .be-certified {
//             background: #f0f0f0;
//             color: #737b7f;
//         }
//         .t-certified {
//             background: blue;
//             color: #000;
//         }
        
//     }
//     .title-experience {
//         span {
//             color: #aaabb9;
//             margin: 5px 0;
//         }
        
//     }
    
//     .title-skills-list {
//         margin: 8px 0;
//         span {
//             color: #aaabb9;
//         }
//         .skills-type {
//             background: #CEE9FF;
//             padding: 4px 10px;
//             color: #4881AC;
//         }
        
//     }
//     .default-user {
//         width: 80px;
//         height: 80px;
//         background-color: darkgray;
//         border-radius: 50%;
//     }
// }

.user-list-2 {
    text-align: center;
    font-size: 1.8rem;
}
.item-line {
    border-bottom: 1px solid #f0f0f0;
}
page-contact {
    .user-info {
        margin: 0;
        padding: 20px 16px 20px 20px;
        
        ion-item {
            
            padding-left: 0;
            .item-inner {
                padding-right: 0 !important;
            }
            .go-brack {
                margin-right: 0;
                font-size: 1.8rem;
                line-height: 2;
            }
           
            .title-name {
                h2 {
                    display: inline-block;
                    font-family: PingFangSC;
                    font-size: 1.8rem;
                    font-weight: 600;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 0.9;
                    letter-spacing: normal;
                    color: #0c0033;
                }
                .user-type{
                    border-radius: 16px;
                    border: solid 0.5px #9b9b9b;
                    font-family: PingFangSC;
                    font-size: 8px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: 0.2px;
                    text-align: center;
                    color: #9b9b9b;
                    padding: 2px 10px;
                }
            }
            .title-skills-list{
                margin-top: 10px;
                font-family: PingFangSC;
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #4a4a4a;
            }
            ion-thumbnail {
                width: 64px;
                height: 64px;
                border-radius: 50%; 
                background-color: darkgray;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .login-button {
                width: 150px;
                height: 36px;
            }
            
        }
    }
}


.contact-list {
    margin: 0;
    ion-item {
        font-family: PingFangSC;
        font-size: 14px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        .left-icon {
            color: #ff6536;
            margin-right: 8px;
            font-size: 15px;
            object-fit: contain;
        }
        .left-title {
            color: #4a4a4a;
        }
        .rigth-message {
            font-size: 12px;
            color: #9b9b9b;
            span {
                font-family: PingFangSC;
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: right;
                color: #9b9b9b;
            }
        }
        
    }
}

/*更改插件样式*/
.list-ios .item-block .item-inner {
    border-bottom: solid 0.7px #f1f1f1;
}
.list-ios > .item-block:first-child {
    border-top: none;
}


.ml12 {
    margin-left: 12px;
    font-size: 15px;
}
.mb5 {
    margin-bottom: 6px;
}
.mt10 {
    margin-top: 10px;
}
.mt20 {
    margin-top: 20px;
}
