page-consultant-bank-account-edit {
    .account-edit {
        margin: 0;
        ion-item {
            font-family: PingFangSC;
            font-size: 14px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #4a4a4a;
        }

    }
    .account-ptr {
        font-family: PingFangSC;
        font-size: 10px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #9b9b9b;
    }
    
}
