<ion-header>
  <ion-navbar>
    <ion-title>顾问筛选</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="content">
  <!-- 下拉刷新 -->
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="刷新中...">
    </ion-refresher-content>
  </ion-refresher>

  <div class="item">
    <ion-list>
      <ion-item class="search_item">
        <ion-input type="search" placeholder="请输入行业或技能" [(ngModel)]="value" autofocus="autofocus" class="input-search"></ion-input>
        <span class="item-search" (click)="searchLabel(value,'itemsearch')" item-right>
          <ion-icon name="search" class="icon"></ion-icon>
        </span>
        <!-- <div class="search_content">
          <span class="item-input-wrapper">
            <ion-input type="search" placeholder="请输入行业或技能" [(ngModel)]="value" autofocus="autofocus" class="input-search"></ion-input>
          </span>
          
        </div> -->
      </ion-item>
      <ion-item class="bgf">
        <!-- 行业下拉 -->
        <div class="item-select">
          <div class="item-input" (click)="downindustryShow('downindustry')">
            <span *ngIf="IndustryName.industryName == undefined">请选择行业</span>
            <span *ngIf="IndustryName.industryName != undefined" style="color: #ff6536">{{IndustryName.industryName}}</span>
            <span>
              <ion-icon name="arrow-down"></ion-icon>
            </span>
          </div>
          <!-- 技能下拉 -->
          <div class="item-input border" (click)="downSkill('downSkill')">
            <span *ngIf="skilldoubleData.fName == undefined">请选择技能</span>
            <span *ngIf="skilldoubleData.fName != undefined" class="SecondarySkill" style="color: #ff6536;">
              {{skilldoubleData.fName}}<i *ngIf= "inputValue.sName" style="padding: 0 5px">•</i>{{inputValue.sName}}
              <!-- <span *ngIf="SkillLabelTwoArr"></span> -->
            </span>
            <span>
              <ion-icon name="arrow-down"></ion-icon>
            </span>
          </div>
        </div>
      </ion-item>
    </ion-list>
    <!-- 行业标签选择 -->
    <ion-list class="indeuList" [hidden]="isIndustryLabel">
      <ion-item (click)="selsectIndustry('全部行业',-1,'isIndustry')" [ngClass]="{'checked':skillChecked==0}">全部行业</ion-item>
      <ion-item *ngFor="let industryList of IndustryTotal;let i = index" class="industryList-item" [ngClass]="{'checked':skillChecked==industryList.ilid}"
        (click)="selsectIndustry(industryList,industryList.ilid,'isIndustry')">
        {{industryList.industryName}}
      </ion-item>
    </ion-list>
    <!-- 技能标签选择 -->
    <div class="skill-count" [hidden]="skillLabel">
      <div class="skill-list1">
        <ion-list>
          <ion-item (click)="infoSecondarySkill('全部领域',-1,'isSkill')" [ngClass]="{'checked':skillCheckedSkill==0}">全部领域</ion-item>
          <ion-item *ngFor="let item_Skill of SkillLabelMoreArr;let i = index" (click)="infoSecondarySkill(item_Skill,item_Skill.sfid,'isSkill')" [ngClass]="{'checked':skillCheckedSkill==item_Skill.sfid}">
            {{item_Skill.fName}}
          </ion-item>
        </ion-list>
      </div>
      <!-- 二级技能标签选择 -->
      <div class="skill-list2">
        <ion-list>
          <ion-item (click)="infoSelectClick('全部',-1,'SecondarySkill')" [ngClass]="{'click':skillBgcolor==-1}">全部</ion-item>
          <ion-item *ngFor="let Secondary_item of SkillLabelTwoArr;let i = index" (click)="infoSelectClick(Secondary_item,i,'SecondarySkill')" [ngClass]="{'click':skillBgcolor==i}">
            {{Secondary_item.sName}}
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>
  <!-- 全部顾问/审计顾问/行业技能标签筛选\输入框搜索/翘楚/行业技能更多 -->
  <div class="industrySearch" *ngIf = "type == 'finance-count' || type == 'financemore'
   ||type =='isIndustry' || type == 'itemsearch' || type == 'SecondarySkill'
   || type == 'indeustryOutstand' || type == 'indeustry' || type == 'skill'">
    <ion-list style="white-space:normal;">
      <ion-item *ngFor="let instry_skill of financeAllArr;let i =index" (click)="goProjectConsultantBrowserPage(instry_skill,i)">
        <div class="contant-item">
          <div class="contant-item-left" item-start>
            <img [src]="instry_skill.avatar" class="item-img">
            <p>{{instry_skill.adviserName}}</p>
          </div>
          <div class="contant-item-right">
            <p>{{instry_skill.introduction}}</p>
            <div class="industryLabel">
              <span class="span" *ngFor="let skill_right of instry_skill.skillList.slice(0,2)">{{skill_right.asName}}</span>
            </div>
            <p>
              <span>工作经验：</span>
              <span>{{instry_skill.workingYears}}</span>
              <span>年</span>
            </p>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)" [enabled]="enabled" threshold="100px" distance="1%" position:button>
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载更多"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<attention-tip [bottom]='1'></attention-tip>

