page-client-the-help {
    .use-content {
        background-color: #fcfcfc;
        
        .box {
            padding: 0 1.6rem;
            .title {
                font-family: PingFangSC;
                font-size: 1.4rem;
                font-weight: 700;
                font-style: normal;
                font-stretch: normal;
                letter-spacing: normal;
                color: #4A4A4A;
            }
            .cont-tip {
                p {
                    margin: .5rem 0;
                    &.mt20 {
                        margin-top: 2rem;
                    }
                }
            }
            .img-tip {
                display: flex;
                text-align: center;
                .img-tip-right{
                    flex: 1;
                }
                .img-tip-left{
                    flex: 1;
                }
                .mt0 {
                    margin-top: 0;
                }
            }
        }
        
    }

}
