<ion-header class="project-header">

  <ion-navbar hideBackButton="true">
    <ion-buttons side="left" style="order: 0">
      <button ion-button icon-only color="royal" (click)="goback()">
        <ion-icon name="arrow-back">&nbsp;&nbsp;返回</ion-icon>
      </button>
    </ion-buttons>
    <ion-title>项目列表</ion-title>
  </ion-navbar>

</ion-header>
<div class="nav-menu" *ngIf="isShowNavMenu">
  <ion-list class="nav-list-menu">
    <ion-item no-lines (click)="onNavMenuClick(false)">
      <p class="list-header-left">{{showNavMenuName || '所有项目'}} ({{showNavMenuNumber}})</p>
      <div class="list-header-right" item-end>
        <span>收起</span>
      </div>
    </ion-item>
  </ion-list>
  <div class="nav-menu-bg"></div>
  <ion-list class="nav-menu-list">
    <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(-1,'所有项目',projectCount.allCount)">
      <label>所有项目 ({{projectCount.allCount}})</label>
      <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
    </ion-item>
    <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(0,'申请中',projectCount.applicationCount)">
      <label>申请中 ({{projectCount.applicationCount}})</label>
      <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
    </ion-item>
    <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(1,'待面试',projectCount.interviewCount)">
      <label>待面试 ({{projectCount.interviewCount}})</label>
      <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
    </ion-item>
    <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(6,'方案待确认',projectCount.programmeCount)">
      <label>方案待确认 ({{projectCount.programmeCount}})</label>
      <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
    </ion-item>
    <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(7,'阶段待确认',projectCount.stageCount)">
      <label>阶段待确认 ({{projectCount.stageCount}})</label>
      <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
    </ion-item>
    <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(8,'进行中',projectCount.currentCount)">
      <label>进行中 ({{projectCount.currentCount}})</label>
      <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
    </ion-item>
    <ion-item class="nav-menu-item" no-lines (click)="onNavMenuItemClick(9,'已完成',projectCount.completedCount)">
      <label>已完成 ({{projectCount.completedCount}})</label>
      <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
    </ion-item>
  </ion-list>
</div>
<ion-content style="background-color: #fcfcfc;">
  <!-- <ion-item>
            用户信息
            <ion-icon name="ios-arrow-down" item-right  *ngIf="isShow"    (click)="isShow=!isShow"></ion-icon>
            <ion-icon name="ios-arrow-forward" item-right *ngIf="!isShow" (click)="isShow=!isShow"></ion-icon>
        </ion-item>
        <ion-list *ngIf="isShow">
          <ion-item  *ngFor="let item of items" >
              姓名：{{item.name}} 年龄：{{item.age}}
          </ion-item>
        </ion-list> -->
  <ion-list class="nav-list-menu">
    <ion-item no-lines (click)="onNavMenuClick(true)">
      <p class="list-header-left">{{showNavMenuName || '所有项目'}} ({{showNavMenuNumber}})</p>
      <div class="list-header-right" item-end>
        <span>展开</span>
      </div>
    </ion-item>
  </ion-list>
  <!-- <ion-refresher (ionRefresh)="doRefresh($event)"> 
            <ion-refresher-content
                  pullingIcon="arrow-dropdown"
                  pullingText="下拉刷新"
                  refreshingSpinner="circles"
                  refreshingText="刷新..."> 
              </ion-refresher-content>
              <ion-refresher-content > 
          </ion-refresher-content>
        </ion-refresher> -->
  <ion-list class="list-content">
    <ion-item class="message-item mt20" no-lines *ngFor="let projectListData_item of projectListData">
      <!-- <div>
        {{projectListData_item.projectName}}
      </div> -->
      <!-- <div *ngIf="projectListData_item.type ==0"> -->
        <div class="msg-title">
          <div class="msg-title-left">
            <span class="project-type type-blue" *ngIf="projectListData_item.status ==0">申请中</span>
            <span class="project-type type-blue" *ngIf="projectListData_item.status ==1">待面试</span>
            <span class="project-type type-blue" *ngIf="projectListData_item.status ==2">已推荐</span>
            <span class="project-type type-gray" *ngIf="projectListData_item.status ==3">未采用</span>
            <span class="project-type type-blue" *ngIf="projectListData_item.status ==4">方案待提交</span>
            <span class="project-type type-blue" *ngIf="projectListData_item.status ==5">已聘用</span>
            <span class="project-type type-blue" *ngIf="projectListData_item.status ==6">方案待确认</span>
            <span class="project-type type-blue" *ngIf="projectListData_item.status ==7">阶段待确认</span>
            <span class="project-type type-green" *ngIf="projectListData_item.status ==8">进行中</span>
            <span class="project-type type-gray" *ngIf="projectListData_item.status ==9 ||projectListData_item.status ==11">已完成</span>
            <span class="project-type type-blue" *ngIf="projectListData_item.status ==10">阶段待提交</span>
          </div>
          <span><ion-icon name="more"></ion-icon></span>
        </div>
        <div class="msg-cont">
          <h4>{{projectListData_item.projectName}}</h4>
          <p>预算
            <span class="demand-number">{{projectListData_item.budget}}</span> 元</p>
          <p class="city-date-cont">
            <span *ngIf="projectListData_item.projectLengthType ==0">0-3 个月</span>
            <span *ngIf="projectListData_item.projectLengthType ==1">3-6 个月</span>
            <span *ngIf="projectListData_item.projectLengthType ==2">6-12 个月</span>
            <span *ngIf="projectListData_item.projectLengthType ==3">其他时间</span>
            <span>{{projectListData_item.province}} . {{projectListData_item.city}}</span>
            <span>发布时间 {{projectListData_item.releaseTime}}</span>
          </p>
          <div class="demand-content-cont mt10">{{projectListData_item.description}}</div>
        </div>
        <div class="project-stage-list mt20" *ngIf="projectListData_item.projectStageList &&projectListData_item.projectStageList.length>0">
          <div class="stage-list-left">
            <div *ngFor="let projectStageList_item of projectListData_item.projectStageList;let i=index">
              <div class="stage-border" [ngClass]="{'checked':projectStageList_item.adviserStatus == 6 || projectStageList_item.adviserStatus == 7}"
                *ngIf="i==0"></div>
              <div class="stage-lines" [ngClass]="{'checked':projectStageList_item.adviserStatus == 6 || projectStageList_item.adviserStatus == 7}"
                *ngIf="i!=0"></div>
              <div class="stage-border" [ngClass]="{'checked':projectStageList_item.adviserStatus == 6 || projectStageList_item.adviserStatus == 7}"
                *ngIf="i!=0"></div>
            </div>
          </div>
          <div class="stage-list-right">
            <div class="stage-list-cont" *ngFor="let projectStageList_item of projectListData_item.projectStageList;let i=index">
              <h4>
                <span>第 {{i+1}} 阶段</span>
                <span class="color-f46f46 ml10" *ngIf="projectStageList_item.adviserStatus == -1">草稿</span>
                <span class="color-f46f46 ml10" *ngIf="projectStageList_item.adviserStatus == 0">待确认</span>
                <span class="color-f46f46 ml10" *ngIf="projectStageList_item.adviserStatus == 1">有异议</span>
                <span class="color-f46f46 ml10" *ngIf="projectStageList_item.adviserStatus == 2">未开始</span>
                <span class="color-f46f46 ml10" *ngIf="projectStageList_item.adviserStatus == 3">进行中</span>
                <span class="color-f46f46 ml10" *ngIf="projectStageList_item.adviserStatus == 4">待审核</span>
                <span class="color-f46f46 ml10" *ngIf="projectStageList_item.adviserStatus == 5">待收款</span>
                <span class="color-f46f46 ml10" *ngIf="projectStageList_item.adviserStatus == 6">已完成</span>
                <span class="color-f46f46 ml10" *ngIf="projectStageList_item.adviserStatus == 7">待平台付款</span>
                <span class="color-f46f46 ml10" *ngIf="projectStageList_item.adviserStatus == 8">交付有异议</span>
              </h4>
              <p>{{projectStageList_item.stageName}}</p>
            </div>
          </div>
        </div>
        <div class="msg-footer" (click)="onProjectBrowserClick(projectListData_item)">
          <span class="msg-footer-text">查看该项目详情</span>
          <ion-icon name="arrow-forward" class="ml12"></ion-icon>
        </div>
      <!-- </div> -->
      <!-- <div *ngIf="projectListData_item.type ==1">
        <div class="msg-title">
          <div class="msg-title-left">
            <span class="project-type type-blue" *ngIf="projectListData_item.status ==1||projectListData_item.status ==2||projectListData_item.status ==3||projectListData_item.status ==6">未开始</span>
            <span class="project-type type-green" *ngIf="projectListData_item.status ==4 || projectListData_item.status ==7">进行中</span>
            <span class="project-type type-gray" *ngIf="projectListData_item.status ==5 || projectListData_item.status ==8||projectListData_item.status ==9 || projectListData_item.status ==10">已完成</span>
            <span class="project-type type-blue" *ngIf="projectListData_item.status ==0">草稿箱</span>
          </div>
          <span>{{projectListData_item.releaseTime | date:'yy/MM/dd'}}</span>
        </div>
        <div class="msg-cont">
          <h4>快速发布的项目</h4>
          <p class="city-date-cont">
            <span>
              <span class="fontw600">{{projectListData_item.voiceCount}} 条</span>语音记录</span>
          </p>
          <div class="demand-content-cont mt10">{{projectListData_item.description}}</div>
        </div>
        <div class="msg-footer" (click)="onProjectBrowserClick(projectListData_item)">
          <span class="msg-footer-text">查看该项目详情</span>
          <ion-icon name="arrow-forward" class="ml12"></ion-icon>
        </div>
      </div> -->
    </ion-item>
  </ion-list>
</ion-content>
<div class="no-box" *ngIf="!projectListData">
  <div class="no-content">
    <h4 class="title">我的项目</h4>
    <div class="img">
        <img src="../../../../assets/imgs/tuijain.png" alt="">
    </div>
    <p class="tip">当前项目暂时为空，您还没有申请过项目!</p>
  </div>
  <button ion-button expand="full" large class="fixed-bottom" (click)="onSpeedStageClick()">返回</button>
</div>
<!--弹出框-->
<div class="phonebind-modal" [hidden]="!isShow">
  <div class="modal-bg"></div>
  <div class="modal-box">
    <div class="modal-top">
      <div class="modal-top-close">
        <ion-icon ios="ios-close" md="md-close" item-rigth (click)="onClose()" color=""></ion-icon>
      </div>
      <div class="modal-title">平台佣金说明</div>
      <div class="modal-content">
        <p>平台将收取 20% 的项目金额作为平台费用，请确认您知晓这一条例。</p>
      </div>
      <div class="modal-footer">
        <button ion-button full large (click)="onClose()">同意并完成申请</button>
        <button ion-button full large (click)="onCompanyDel()" class="btn-delete">返回</button>
      </div>
    </div>
  </div>
</div>