page-consultant-info-user {
    .card-avatar {
        background-color: inherit; 
        -webkit-box-shadow: none;
        box-shadow: none;
        text-align: center;
        .user-avatar{
            width: 138px;
            height: 138px;
            margin: 5px auto;
            
            position: relative;
            img {
                height: 100%;
                display: inline-block;
                border-radius: 50%;
            }
            .avatar-bg {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-color: #000;
                opacity: .5;
                border-radius: 50%;
            }
            .avatar-active {
                // position: absolute;
                // top: 0;
                // left: 0;
                // z-index: 99;

                width: 100%;
                line-height: 138px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 99;
                text-align: center;
                color: #fff;
            }

        }
        
    }
    
    .contact-list {
        .rigth-message {
            ion-icon {
                font-size: 1.6rem;
                color: #cfcfcf;
            }
        }

    }
}
