<!--
  Generated template for the ProjectStageListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="project-header">
  <ion-navbar hideBackButton="true">
    <ion-buttons side="left" style="order: 0">
      <button ion-button icon-only color="royal" (click)="goback()" class="returnBtn">
        <ion-icon name="arrow-back">&nbsp;返回</ion-icon>
      </button>
    </ion-buttons>
    <ion-title>阶段列表</ion-title>
  </ion-navbar>
</ion-header>

<div class="nav-menu" *ngIf="isShowNavMenu">
  <ion-list class="nav-list-menu">
    <ion-item no-lines (click)="onNavMenuClick(false)">
      <p class="list-header-left">{{showNavMenuName || '阶段'}}</p>
      <div class="list-header-right" item-end>
        <span>收起</span>
      </div>
    </ion-item>
  </ion-list>
  <div class="nav-menu-bg"></div>
  <ion-list class="nav-menu-list">
    <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(1,'详情')">
      <label>详情</label>
      <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
    </ion-item>
    <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(2,'方案')">
      <label>方案</label>
      <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
    </ion-item>
    <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(3,'阶段',-1)">
      <label>阶段</label>
      <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
    </ion-item>
    <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(4,'文档',-1)">
      <label>文档</label>
      <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
    </ion-item>
    <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(5,'收款记录',-1)" no-lines>
      <label>收款记录</label>
      <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
    </ion-item>
  </ion-list>
</div>

<ion-content style="background-color: #fcfcfc;">
  <ion-list class="nav-list-menu">
    <ion-item no-lines (click)="onNavMenuClick(true)">
      <p class="list-header-left">{{showNavMenuName || '阶段'}}</p>
      <div class="list-header-right" item-end>
        <span>展开</span>
      </div>
    </ion-item>
  </ion-list>

  <div *ngIf="!!projectStageListData && projectStageListData.length<1">
    <div class="no-content">
      <h4 class="title">项目阶段</h4>
      <div class="img">
        <img src="../../../../assets/imgs/tuijain.png" alt="">
      </div>
      <p class="tip" *ngIf="isAction">当前分类暂时为空，点击下方按钮添加阶段。</p>
      <p class="tip" *ngIf="!isAction">该分类暂无内容，项目发展到不同阶段时，不同的分类下会有对应的新增内容</p>
      <button class="btn" ion-button (click)="gotodo()" *ngIf="!isAction">返回</button>
    </div>
    <button ion-button expand="full" large class="fixed-bottom" (click)="onAddStageClick()" *ngIf="isAction">添加阶段</button>
  </div>
  
  <div *ngIf="projectStageListData && projectStageListData.length>0">
    <ion-list class="mt20">
      <ion-item class="message-item mt20" no-lines *ngFor="let projectStage_item of projectStageListData">
        <p class="msg-title">
          <span class="msg-title-left" *ngIf="projectStage_item.adviserStatus == 0">待确认</span>
          <span class="msg-title-left" *ngIf="projectStage_item.adviserStatus == 1">有异议</span>
          <span class="msg-title-left" *ngIf="projectStage_item.adviserStatus == 2">未开始</span>
          <span class="msg-title-left" *ngIf="projectStage_item.adviserStatus == 3">进行中</span>
          <span class="msg-title-left" *ngIf="projectStage_item.adviserStatus == 4">待审核</span>
          <span class="msg-title-left" *ngIf="projectStage_item.adviserStatus == 5">申请收款</span>
          <span class="msg-title-left" *ngIf="projectStage_item.adviserStatus == 6">已完成</span>
          <span class="msg-title-left" *ngIf="projectStage_item.adviserStatus == 7">收款中</span>
          <span class="msg-title-left" *ngIf="projectStage_item.adviserStatus == 8">交付有异议</span>
        </p>
        <div class="msg-cont">
          <h4>{{projectStage_item.stageName}}</h4>
          <p>整体进度 <span class="fweight600">第{{projectStage_item.stageSort}}阶段</span></p>
        </div>
        <div class="msg-cont-line2 mt10">
          <p class="line2-left">
            <ion-icon name="ios-paper-outline" class="mr3"></ion-icon>
            <span>阶段周期</span>
            <span>{{projectStage_item.startTime | date: 'yyyy-MM-dd'}}</span>
            <span> 至 </span>
            <span>{{projectStage_item.endTime | date: 'yyyy-MM-dd'}}</span>
          </p>
        </div>
        <div class="msg-footer" (click)="goStageBrowser(projectStage_item)">
          <span class="msg-footer-text">查看该阶段详情</span>
          <ion-icon name="arrow-forward" class="ml12"></ion-icon>
        </div>
      </ion-item>
      <!-- <ion-item class="message-item mt20" no-lines>
                <p class="msg-title">
                  <span class="msg-title-left">运行中</span>
                </p>
                <div class="msg-cont">
                  <h4>旅行保险行业的详细市场概述分析</h4>
                  <p>整体进度 <span class="fweight600">第二阶段</span></p>
                </div>
                <div class="msg-cont-line2 mt10">
                  <p class="line2-left">
                    <ion-icon name="ios-paper-outline" class="mr3"></ion-icon>
                    <span>阶段周期</span>
                    <span>2018-06-05</span>
                    <span> 至 </span>
                    <span>2018-07-08</span>
                  </p>
                </div>
                <div class="msg-footer" (click)="goStageBrowser()">
                  <span class="msg-footer-text">查看该阶段详情</span>
                  <ion-icon name="arrow-forward" class="ml12"></ion-icon>
                </div>
              </ion-item>
              <ion-item class="message-item mt20" no-lines>
                <p class="msg-title">
                  <span class="msg-title-left">待确认</span>
                </p>
                <div class="msg-cont">
                  <h4>旅行保险行业的详细市场概述分析</h4>
                  <p>整体进度 <span class="fweight600">第二阶段</span></p>
                </div>
                <div class="msg-cont-line2 mt10">
                  <p class="line2-left">
                    <ion-icon name="ios-paper-outline" class="mr3"></ion-icon>
                    <span>阶段周期</span>
                    <span>2018-06-05</span>
                    <span> 至 </span>
                    <span>2018-07-08</span>
                  </p>
                </div>
                <div class="msg-footer" (click)="goStageBrowser()">
                  <span class="msg-footer-text">查看该阶段详情</span>
                  <ion-icon name="arrow-forward" class="ml12"></ion-icon>
                </div>
              </ion-item>
              <ion-item class="message-item mt20" no-lines>
                <p class="msg-title">
                  <span class="msg-title-left">待付款</span>
                </p>
                <div class="msg-cont">
                  <h4>销售软件系统、物业管理软件系统</h4>
                  <p>整体进度 <span class="fweight600">第二阶段</span></p>
                </div>
                <div class="msg-cont-line2 mt10">
                  <p class="line2-left">
                    <ion-icon name="ios-paper-outline" class="mr3"></ion-icon>
                    <span>阶段周期</span>
                    <span>2018-06-05</span>
                    <span> 至 </span>
                    <span>2018-07-08</span>
                  </p>
                </div>
                <div class="msg-footer" (click)="goStageBrowser(3)">
                  <span class="msg-footer-text">查看该阶段详情</span>
                  <ion-icon name="arrow-forward" class="ml12"></ion-icon>
                </div>
              </ion-item>
              <ion-item class="message-item mt20" no-lines>
                <p class="msg-title">
                  <span class="msg-title-left">已完成</span>
                </p>
                <div class="msg-cont">
                  <h4>旅行保险行业的详细市场概述分析</h4>
                  <p>整体进度 <span class="fweight600">第二阶段</span></p>
                </div>
                <div class="msg-cont-line2 mt10">
                  <p class="line2-left">
                    <ion-icon name="ios-paper-outline" class="mr3"></ion-icon>
                    <span>阶段周期</span>
                    <span>2018-06-05</span>
                    <span> 至 </span>
                    <span>2018-07-08</span>
                  </p>
                </div>
                <div class="msg-footer" (click)="goStageBrowser(4)">
                  <span class="msg-footer-text">查看该阶段详情</span>
                  <ion-icon name="arrow-forward" class="ml12"></ion-icon>
                </div>
              </ion-item>
              <ion-item class="message-item mt20" no-lines>
                <p class="msg-title">
                  <span class="msg-title-left">已完成</span>
                </p>
                <div class="msg-cont">
                  <h4>旅行保险行业的详细市场概述分析细市场概述分析细市场概述分析</h4>
                  <p>整体进度 <span class="fweight600">第二阶段</span></p>
                </div>
                <div class="msg-cont-line2 mt10">
                  <p class="line2-left">
                    <ion-icon name="ios-paper-outline" class="mr3"></ion-icon>
                    <span>阶段周期</span>
                    <span>2018-06-05</span>
                    <span> 至 </span>
                    <span>2018-07-08</span>
                  </p>
                </div>
                <div class="msg-footer" (click)="goStageBrowser()">
                  <span class="msg-footer-text">查看该阶段详情</span>
                  <ion-icon name="arrow-forward" class="ml12"></ion-icon>
                </div>
              </ion-item> -->
    </ion-list>
    <ion-list class="describe-list mt45" *ngIf="projectStageProposalList && projectStageProposalList.length>0">
      <ion-item no-lines *ngFor="let proposal_item of projectStageProposalList">
        <div class="top-lines">
          <h4 class="top-lines-left">修改意见</h4>
          <span class="top-lines-right">{{proposal_item.createTime | date:'yy/MM/dd'}}</span>
        </div>
        <p class="describe-cont">{{proposal_item.opinion}}</p>
      </ion-item>
    </ion-list>
    <div style="height:60px;"></div>
    <button ion-button expand="full" large class="fixed-bottom bg-gry" (click)="goAccountEdit()" *ngIf="projectType == 7">等待客户确认中</button>
    <button ion-button expand="full" large class="fixed-bottom" (click)="onAddStageClick()" *ngIf="!projectStageListData || projectStageListData.length<1">添加阶段</button>
    <div class="fixed-bottom" *ngIf="projectType == 10">
      <button ion-button class="btn-submit" (click)="sureTips()" [disabled]="isdisabled">提交阶段</button>
      <button ion-button class="btn-delete" (click)="onAddStageClick()">添加阶段</button>
    </div>
  </div>
</ion-content>
<div class="phonebind-modal" [hidden]="!isTipsPrompt">
  <div class="modal-bg"></div>
  <div class="modal-box">
    <div class="modal-top">
      <div class="modal-top-close">
        <!-- <ion-icon ios="ios-close" md="md-close" item-rigth (click)="onClose()" color=""></ion-icon> -->
      </div>
      <div class="modal-title">提示</div>
      <div class="modal-content">
        <p>{{tipstext}}</p>
      </div>
      <div class="modal-footer">
        <button ion-button full large (click)="onAllStageSubmit()">确定</button>
        <button ion-button full large (click)="onrReturnback()" class="btn-delete">返回</button>
      </div>
    </div>
  </div>
</div>