<!--
  Generated template for the ProjectPaymentRecordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>文档新增</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: #fcfcfc;">

  <ion-list class="list-item-flex mt10">
    <ion-item (click)="goFormEditPage('name',interactionData.name,'text')">
      <label>文档名称</label>
      <p item-right>
        <span class="item-value">{{interactionData.name || '请输入'}}</span>
        <ion-icon class="icon" name="arrow-forward"></ion-icon>
      </p>
    </ion-item>
    <ion-item no-lines (click)="goFormEditPage('introduction',interactionData.introduction,'textarea')">
      <label>文档描述</label>
      <p item-right>
        <span class="item-value">{{interactionData.introduction || '请输入'}}</span>
        <ion-icon class="icon" name="arrow-forward"></ion-icon>
      </p>
    </ion-item>
  </ion-list>
  <ion-list class="list-item-flex mt10">
    <!-- <ion-item (click)="goFormEditPage('taxNumber',interactionData.taxNumber,'selectPaymentBank')" no-lines>
          <label>交付物原件</label>
          <p item-right>
              <span class="item-value">点击上传</span>
              <ion-icon class="icon" name="arrow-forward"></ion-icon>
          </p>
        </ion-item> -->
    <ion-item (click)="gouploadfile()" no-lines>
      <label>交付物原件</label>
      <p item-right>
        <span class="item-value" *ngIf="filestatus == true">重新上传</span>
        <span class="item-value" *ngIf="filestatus == false">点击预览或上传</span>
        <ion-icon class="icon" name="arrow-forward"></ion-icon>
      </p>
    </ion-item>
  </ion-list>
  <div class="user-other-list">
    <ion-list class="card-item">
      <ion-item no-lines *ngIf="fileurl">
        <div class="card-item-label">
          <label>
            <img style="width:66px;height:66px;" src="{{interactionData.typeStr || filetypeicon}}">
          </label>
          <div class="card-cont" data-src="url">
            <h5>{{interactionData.sourceName || filetitle}}</h5>
            <!-- <p class="action-browser-file">点击查看文件预览</p> -->
            <p class="browser-size">{{interactionData.urlSize || filesize}}</p>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>
  <div style="height:100px;"></div>
  <button ion-button expand="full" large class="fixed-bottom" (click)="onInteractionClick()" *ngIf="isAdd">保存</button>
  <div class="fixed-bottom" *ngIf="!isAdd">
    <button ion-button class="btn-submit" (click)="onInteractionClick()">保存修改</button>
    <button ion-button class="btn-delete" (click)="onDocumentDel()">删除</button>
  </div>
</ion-content>
<div class="phonebind-modal" [hidden]="!isNoStageBook">
  <div class="modal-bg"></div>
  <div class="modal-box">
    <div class="modal-top">
      <div class="modal-top-close">
        <!-- <ion-icon ios="ios-close" md="md-close" item-rigth (click)="onClose()" color=""></ion-icon> -->
      </div>
      <div class="modal-title">提示</div>
      <div class="modal-content">
        <p>阶段交互物不能为空</p>
      </div>
      <div class="modal-footer">
        <button ion-button full large (click)="sureStageBook()">确定</button>
        <!-- <button ion-button full large (click)="onCompanyDel()" class="btn-delete">返回</button> -->
      </div>
    </div>
  </div>
</div>
<div class="phonebind-modal" [hidden]="!isSubmitSuccess">
  <div class="modal-bg"></div>
  <div class="modal-box">
    <div class="modal-top">
      <div class="modal-top-close">
        <!-- <ion-icon ios="ios-close" md="md-close" item-rigth (click)="onClose()" color=""></ion-icon> -->
      </div>
      <div class="modal-title">提示</div>
      <div class="modal-content">
        <p>保存成功</p>
      </div>
      <div class="modal-footer">
        <button ion-button full large (click)="sureSubmitSuccess()">确定</button>
        <!-- <button ion-button full large (click)="onCompanyDel()" class="btn-delete">返回</button> -->
      </div>
    </div>
  </div>
</div>