<!--
  Generated template for the ProjectPaymentRecordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <ion-title>我的项目/客户/文档新增</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content style="background-color: #fcfcfc;">
      
      <ion-list class="list-item-flex mt10">
        <ion-item (click)="goFormEditPage('name',interactionData.name,'text')">
          <label>文档名称</label>
          <p item-right>
              <span class="item-value">{{interactionData.name ||  '请输入'}}</span>
              <ion-icon class="icon" name="arrow-forward"></ion-icon>
          </p>
        </ion-item>
        <ion-item no-lines (click)="goFormEditPage('introduction',interactionData.introduction,'textarea')">
          <label>文档描述</label>
          <p item-right>
              <span class="item-value">{{interactionData.introduction ||  '请输入'}}</span>
              <ion-icon class="icon" name="arrow-forward"></ion-icon>
          </p>
        </ion-item>
      </ion-list>
      <ion-list class="list-item-flex mt10">
        <!-- <ion-item (click)="goFormEditPage('taxNumber',interactionData.taxNumber,'selectPaymentBank')" no-lines>
          <label>交付物原件</label>
          <p item-right>
              <span class="item-value">点击上传</span>
              <ion-icon class="icon" name="arrow-forward"></ion-icon>
          </p>
        </ion-item> -->
        <ion-item (click)="gouploadfile()" no-lines>
          <label>交付物原件</label>
          <p item-right>
              <span class="item-value" *ngIf="filestatus == true">重新上传</span>
              <span class="item-value" *ngIf="filestatus == false">点击预览或上传</span>
              <ion-icon class="icon" name="arrow-forward"></ion-icon>
          </p>
        </ion-item>
      </ion-list>
      <div class="user-other-list">
        <ion-list class="card-item">
            <ion-item no-lines *ngIf="fileurl">
                <div class="card-item-label">
                  <label>
                    <img style="width:66px;height:66px;" src="{{filetypeicon}}">
                  </label>
                  <div class="card-cont" data-src="url">
                    <h5>{{filetitle}}</h5>
                    <p class="action-browser-file">点击查看文件预览</p>
                    <p class="browser-size">{{filesize}}</p>
                  </div>
                </div>
            </ion-item>
        </ion-list>
      </div>
      <div style="height:100px;"></div>
      <button ion-button expand="full" large class="fixed-bottom" (click)="onInteractionClick()" *ngIf="isAdd">保存</button>
      <div class="fixed-bottom" *ngIf="!isAdd">
          <button ion-button class="btn-submit" (click)="onInteractionClick()">保存修改</button>
          <button ion-button class="btn-delete" (click)="onDocumentDel()">删除</button>
      </div>
  </ion-content>
  
  