page-project-speed-release {
   .content {
       background: #fcfcfc;
       .speed-list {
           background: #fff;
           ion-item {
               width: 100%;
            .speed-title {
               width:100%;
            //    text-align: center;
               margin-top: 51px;
               height: 30px;
               display: flex;
               align-items: center;
               justify-content: center;
               img {
                width: 38px;
                height: 24px;
                object-fit: contain;
                line-height: 24px;
               }
               span {
                width: 113px;
                height: 22px;
                font-family: PingFangSC;
                font-size: 16px;
                font-weight: 600;
                color: #4a4a4a;
                padding-left: 10px;
                line-height: 22px;
               }
            }
           }
           .speed-decription {
              height: 145px;
              background-color: #ffffff;
              margin-top: 31px;
              .label {
                width: 141px;
                height: 20px;
                font-family: PingFangSC;
                font-size: 14px;
                font-weight: 600;
                color: #4a4a4a;
                margin: 15px 15px;
              }
              ion-card {
                  div {
                    height: 80px;
                    font-family: PingFangSC;
                    font-size: 14px;
                    text-align: justify;
                    color: #4a4a4a;
                    overflow : hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                  }
              }
              .speed-item {
                width: 100%;
                height: 80px;
                padding-left: 15px;
                padding-right: 34px;
                ion-textarea {
                    font-family: PingFangSC;
                    font-size: 14px;
                    text-align: justify;
                    color: #4a4a4a;
                }
              } 
            }
            .speed-voice {
                width: 100px;
                height: 17px;
                font-family: PingFangSC;
                font-size: 12px;
                font-weight: 600;
                color: #c7c7c7;
                padding-left: 15px;
            }
            .voice-item {
                width: 100%;
                height: 155px;
                border-radius: 3px;
                background-color: #ffffff;
                box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.05);
                margin-top: 10px;
                padding-right: 16px;
                overflow-y: scroll;
                .input-wrapper {
                    display: block;
                }
                .audio-mengu {
                    width: 145px;
                    height: 32px;
                    border-radius: 3px;
                    background-color: #5da2f4;
                    margin-top: 14px;
                    display: flex;
                      .audio-spinner {
                        width: 14px;
                        height: 11px;
                        /* padding-top: 5px; */
                        /* padding-left: 10px; */
                        -webkit-box-flex: 1;
                        -webkit-flex: 1;
                        -ms-flex: 1;
                        flex: 1;
                        margin-top: 6px;
                        margin-left: 6px;
                        img {
                            max-width: 100%;
                            height: 100%;
                            border: 0
                        }
                      }
                      .audio-spinner1 {
                        width: 100%;
                        height: 20px;
                        margin-left: 6px;
                        margin-top: 6px;
                        div{      
                          width: 100%;
                          height:12px;
                          background-color: #fff;
                          display:inline-block;
                          width: 2px;
                          margin-left: -3px;
                          animation:strechdelay 1s infinite ease-in-out;
                          -webkit-animation:strechdelaytwo 1s infinite ease-in-out;
                          position: relative;
                          top: 1px;
                          opacity: .8;
                        }
                        .line2{
                            animation-delay:-0.9s;
                            -webkit-animation-delay:-0.9s;
                          }
                           .line3{
                            animation-delay:-0.8s;
                            -webkit-animation-delay:-0.8s;
                          }
                          .line4{
                            animation-delay:-0.7s;
                            -webkit-animation-delay:-0.7s;
                          }
                           .line5{
                            animation-delay:-0.6s;
                            -webkit-animation-delay:-0.6s;
                          }
                        @keyframes strechdelaytwo {
                          0%,40%,100%{
                            transform:scaleY(.4);
                            -webkit-transform:scaleY(.4);
                          }
                          20%{
                            transform:scaleY(1);
                            -webkit-transform:scaleY(1);
                          }
                        }
                        @-webkit-keyframes strechdelaytwo {
                          0%,40%,100%{
                            -webkit-transform:scaleY(.4);
                          }
                          20%{
                            -webkit-transform:scaleY(1);
                          }
                      }
                    }
            
                    .click-play {
                        width: 57px;
                        height: 17px;
                        font-family: PingFangSC;
                        font-size: 12px;
                        font-weight: 600;   
                        color: #ffffff;
                        margin-right: 47px;
                        line-height: 32px;
                        flex:1;
                    }
                    .icon-close {
                        // width: 20px;
                        // height: 12px;
                        // border-radius: 50%;
                        // background-color: #fff;
                        // position: relative;
                        // top: 10px;
                        // right: 10px;  
                        // color: #5da2f4;
                        margin-top: 6px;
                        margin-right: 6px;
                        color: #fff;
                        flex: 1;
                        ion-icon {
                            font-size: 14px;
                        }
                        // ion-icon {
                        //     position: relative;
                        //     left: 5px;
                        //     bottom: 5px;
                        //     font-size: 12px;
                        //     font-weight: 600;
                        // }
                    }
                }
            }
       }
   }
}
