<!--
  Generated template for the SwiperDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
  <div class="swiper-detail">
    <div class="detailOne" *ngIf="index == 0">
      <h4 class="detailOne-h4 f18">关于我们-麦盟咨询</h4>
      <div class="detailOne-img1">
        <img src="../../../assets/imgs/detail1.png" alt="">
      </div>
      <div class="detail1-About">关于麦盟</div>
      <div class="detail1-text">
        <p>麦盟是提供中国管理咨询自由顾问资源的专业服务平台。</p>
        <p>麦盟力争于为自由顾问提供简洁的项目对接流程，为企业客户提供可持续的竞争优势，确保项目双方精准对接。</p>
        <p>自创立以来，已有
          <span class="fontFF">300多位管理咨询自由顾问</span>
          活跃在麦盟平台上，为企业客户提供优质的管理咨询服务。
        </p>
      </div>
      <div class="title-img">
        <img src="../../../assets/imgs/Group@3x.png" alt="">
      </div>
      <div class="detial-our">
        <h4>我们的使命</h4>
        <div></div>
        <p>Our Mission</p>
      </div>
      <p class="detail1-decrition">分享全球领先实践，成就客户企业价值</p>
      <div class="detial-our">
        <h4>我们的愿景</h4>
        <div></div>
        <p>Our Vision</p>
      </div>
      <p class="detail1-decrition">打造中国最具影响力的管理咨询自由顾问服务平台</p>
      <div class="detial-our">
        <h4>我们的价值观</h4>
        <div></div>
        <p>Our Value</p>
      </div>
      <p class="detail1-power">专业、开放、伙伴</p>
      <h4 class="detail1-effect">——— 麦盟影响力 您的竞争力 ———</h4>
    </div>
    <div class="detailTwo" *ngIf="index == 1">
      <h4 class="detailTwo-HOne f18">一边是忙碌的工作，</h4>
      <h4 class="detailTwo-HTwo f18">一边是更有趣的生活</h4>
      <div class="detailTwo-img1">
        <img src="../../../assets/imgs/document2-1.png" alt="">
      </div>
      <div class="detailTwo-text1">
        <p>“斜杠青年”来源于英文Slash</p>
        <p>
          出自《纽约时报》专栏作家麦瑞克•阿尔伯撰写的书籍《双重职业》， 指的是不再满足“专一职业”的生活方式， 而选择拥有多重职业和身份的多元生活的人
        </p>
      </div>
      <div class="detailTwo-img2">
        <img src="../../../assets/imgs/document2-2.png" alt="">
      </div>
      <div class="detailTwo-label1 ">
        <div class="Lbord">
          <span>01</span>
          <span style="color:#FF8124">贪心一点，李一诺</span>
        </div>
        <p>
          2017年8月，一篇名为《我不是唐晶，合伙人晋升路上生了仨娃还有马甲线》的文章在“朋友圈”热传，把李一诺带到了大家面前。
        </p>
        <div class="label1-img m36">
          <img src="../../../assets/imgs/document2-3.png" alt="">
        </div>
        <div class="img-text textCen">
          <p>李一诺</p>
          <p>图片来源：奴隶社会公众号</p>
        </div>
        <div class="label1-experience">
          <p>李一诺职场升级路径（根据网络公开资料整理而成)</p>
          <p>2005年, 加州大学洛杉矶分校生物学博士毕业</p>
          <p>2011年, 成为麦肯锡全球合伙人</p>
          <p>2014年, 创办“奴隶社会”公众号，逾70多万粉丝 </p>
          <p>2015年, 担任盖茨基金会北京代表处首席代表 </p>
          <p>2016年,筹办"一土"学校</p>
        </div>
        <div class="detailTwo-decription">
          <p>刚刚40岁的李一诺和她身上的多重标签，使得她已然是网友眼中的励志女神：</p>
          <p>前麦肯锡合伙人/盖茨基金会北京代表处首席代表/“一土”学校联合创始人/三个孩子的妈</p>
          <p>
            从科研到咨询，再从咨询到慈善，李一诺一次次的跨越和转型都来得迅猛而热烈。“我又想要孩子，又想要工作， 还想要有情趣的生活”。李一诺不止一次公开表示，“贪心一点，想要就要”。
          </p>
          <p>那么，你是否也认同，在咨询或其他工作过程中所获得的对思维方式和做事方式的一种训练，这些东西都是有
            <span class="f700">相通性的</span>
          </p>
          <p class="fontFF">在瞬息万变的世界中，不停地去
            <span class="fwff">观察、思考、形成观点</span>
            是真实生活里最主流的学习方式，也可能是打破不同职业壁垒最真诚的方式。
          </p>
        </div>
      </div>
      <div class="detailTwo-label2">
        <div class="Lbord">
          <span>02</span>
          <span>人生苦短，冯唐</span>
        </div>
        <p>冯唐也是一个典型的斜杠代表。</p>
        <p>
          过去二十多年间，冯唐以张海鹏（本名）的身份，从事过妇科卵巢癌研究，在美国读MBA之后， 开启了麦肯锡公司的咨询之路。他在咨询界摸爬滚打九年，一路做到全球合伙人，目前从事医疗投资。
        </p>
        <p>但如今他更被人们熟知的身份却是作家，《十八岁给我一个姑娘》《万物生长》《北京北京》《活着活着就老了》《欢喜》是他的代表作。</p>
        <div class="label2-img">
          <img src="../../../assets/imgs/document2-4.png" alt="">
        </div>
        <div class="img-text textCen">
          <p>冯唐代表作《活着活着就老了》</p>
        </div>
        <div class="detailTwo-decription">
          <p>这些角色和身份放在一起似乎很奇怪，但冯唐自己却说“因为我比较好奇，人生苦短，不再贪恋原地”。 </p>
          <p>
            而
            <span class="f700">这些看似毫不相干的经历和背景却在深处相互影响</span>
            ，“医学是我针对人类写作的素描。其他各种工作经历让我码字有源头活水。
            <span class="f700">亲尝大于耳闻目睹</span>
          </p>
          <p class="f700">咨询生涯中训练出的逻辑性也增加了他对长篇小说的控制力。</p>
        </div>
      </div>
      <div class="detailTwo-label3">
        <div class="Lbord">
          <span>03</span>
          <span>理论与实践兼备，陈春花</span>
        </div>
        <div class="detailTwo-decription">
          <p>陈春花，是另一名集教授/企业家/作家于一体的斜杠代表。 </p>
          <p>
            她是中国著名企业文化与战略专家，国内外多所知名大学的客座教授，曾因她两进山东新希望太和集团力挽狂澜、缔造商业奇迹被人们熟知。 ，“医学是我针对人类写作的素描。其他各种工作经历让我码字有源头活水。
          </p>
          <p>
            此外，陈春花还开设了公众号春暖花开、其主导的网络付费课程也异常火爆。 她还曾以顾问身份出任了南方电网、南方航空、深圳机场、广州电信等多个行业，
            <span class="f700">并不断从中寻找管理共性、将多年顾问经验付诸实践</span>
            、总结经验后著书立说。
          </p>
        </div>
        <div class="label3-img">
          <img src="../../../assets/imgs/document2-5.png" alt="">
        </div>
        <div class="img-text textCen">
          <p>陈春花</p>
          <p>图片来源：春暖花开公众号</p>
        </div>
        <div class="detailTwo-decription m30">
          <p class="f700">而像他们一样，在多个领域、多个行业卓有建树的斜杠人群，还有很多: </p>
          <p>
            著有《斜杠创业家》一书的金伯莉·帕尔默，是美国成功的斜杠创业家，兼有自由撰稿人/咨询顾问/规划师/公共演讲者/CEO等多重身份；
          </p>
          <p>
            知名电影《大黄蜂》《魔弦传说》的导演Travis Knight，同时也是Nike商业帝国的继承人； 后期他还将自己的动画制作经验积累与Nike的产品设计相结合，从而诞生了一双双引领潮流的跨界球鞋；
          </p>
          <p class="space">......</p>
          <p>
            <span class="f700">据中国青年报社社会调查中心联合问卷网</span>
            的一项调查显示，今天，一些北上广深的职业者们已经开始亲身实践“Slash”理念(比例约17.5%)， 大批后继者(比例约74.93%)也跃跃欲试，且此类人群的数量呈逐年上升之势。他们拥有
            <span class="f700">质疑边界、取消假定、谋求复合多元人生</span>
            的态度，并尝试横跨多个职业领域、彰显青春的独特魅力。
          </p>
        </div>
        <div class="detailTwo-rail m36">
          <img src="../../../assets/imgs/document2-6.png" alt="">
        </div>
        <div class="detailTwo-decription">
          <p class="f700">斜杠人群的出现，是不满足单一身份束缚的自由者的选择。 </p>
          <p>
            他们追求自由、个性、复调人生，渴望无界感、潜能分化的发展空间，在自我求职欲、生产欲、
            创造欲的推动下感受更充实的职业体验及更大的生存空间。
          </p>
          <p class="f700">也是互联网时代下的去中心化的结果。</p>
          <p>
            网络技术的发展，降低了自由职业者的准入门槛，只要有一个电脑，一个有wifi的环境，
            弹性办公就能成为可能。借助互联网就可实现与整个世界的交易，使得强大的公司、组织和机构不再是自由职业者必须依赖的载体。
          </p>
          <p class="f700">更是互联网时代下的追求知识经济的产物。</p>
          <p>
            在这个以知识与科技支撑经济增长的时代，职业发展的机遇越来越多，技能多样化、在线学习、
            网络培训、在家工作、做复合型劳动者等都已成为可能。
          </p>
          <p>
            在 “大众创业、万众创新”浪潮下，共享经济、网红经济等新模式的风起云涌，
            使得越来越多人开始尝试摆脱对大公司和机构的依赖， 借助互联网工具和平台，重新构建自己的职业能力和职业模式。
          </p>
        </div>
        <div class="detailTwo-rail m36">
          <img src="../../../assets/imgs/document2-7.png" alt="">
        </div>
        <div class="detailTwo-decription">
          <p class="f700">斜杠人群的出现，是不满足单一身份束缚的自由者的选择。 </p>
          <p>
            全球自由职业平台Upwork前CEO Fabio Rosati预估，未来全球自由职业市场规模可能达到3万亿元左右。这就意味着，在未来的职场中，
            <span class="f700">员工可能大部分都成为自由职业者，而非受雇于单一家组织。 </span>
          </p>
          <p>
            互联网时代，从业者正在从工业经济的“千人一面”向“千人千面”转变， 互联网技术打破了职业和工作之间的界限，
            未来，高科技互联网公司+海量自主性劳动将成为就业的重要形式。
          </p>
          <p>强调知识、个性的时代正在召唤这样的人生：</p>
          <p>
            可以恣意hold住个人时间，取得生活和工作的平衡； 可以赋予职业生涯多种可能性，将个人与多种角色任意搭配；
          </p>
          <p>
            可以打造具有自我Style的个人品牌，与更多优秀的人相互碰撞、共获成长；
          </p>
        </div>
        <div class="f20">斜杠style, ready? Go!</div>
        <div class="border"></div>
        <div class="source">
          <p>部分参考资料来源：</p>
          <p>[1] 在焦虑的时代，做个贪心的人.奴隶社会（ID：nulishehui）</p>
          <p>[2] 李一诺：实验室与办公室，核心思维没啥两样.果壳网专访 </p>
          <p>[3] 冯唐 我已经不像原来那么有野心了. 新京报</p>
          <p>[4] 陈春花：新希望的“救火队长”. 财富中文网(北京)</p>
        </div>
        <div class="detailTwo-img2-8">
          <img src="../../../assets/imgs/document2-8.png" alt="">
        </div>
        <div class="detailTwo-decriptionbttom">
          <p class="f700 m50"> 就是现在</p>
          <p class="f700">
            在麦盟咨询
            <span class="fontFF">发布项目需求 </span>
            , 寻找自由顾问 !
          </p>
          <p class="f700">
            在麦盟咨询
            <span class="fontFF">开启顾问之旅 </span>
            , 成为自由顾问 !
          </p>
        </div>
        <h4 class="detail1-effect">——— 麦盟影响力 您的竞争力 ———</h4>
      </div>
    </div>
    <div class="detailThree" *ngIf="index == 2">
      <h4 class="detailThree-h4 f18">“麦盟趣镜”工作，更自由！</h4>
      <div class="detailThree-img1">
        <img src="../../../assets/imgs/document3-1.png" alt="">
      </div>
      <div class="detailThree-decription">
        <p class="f700">Hi there！</p>
        <p> 我们精心策划了两期 <span class="fontFF">自由顾问的“麦盟趣镜”活动： </span></p>
        <p>
          尝试用访谈的形式来捕捉自由顾问真实的工作和生活状态。
          让大家能够通过我们提供的“放大镜”近距离了解:
          自由顾问这一新奇物种是如何在职业生涯中笃行“work life balance”,
          在通关打怪兽的过程中真正做到“名利双收”～
        </p>
        <p>今天就先跟小麦一起捕捉两位自由顾问从项目现场发回的最新动态吧！ </p>
      </div>
      <div class="detailThree-img2">
        <img src="../../../assets/imgs/document3-2.png" alt="">
      </div>
      <div class="detailThree-decription">
        <p>
          夏烨曾经多次以“专业顾问”的身份投入到管理咨询项目当中,
          同时拥有超过7年的采购和供应链管理经验和5年的培训经验,
          曾多次为医疗、电商、物流、飞机维修、电子制造、食品等企业提供企业咨询及培训。
        </p>
        <p>
          他是中国物流与采购联合会供应链专家委员会委员,
          获得了“美国注册采购经理(CPM)”“美国项目管理师(PMP)”“美国供应管理协会CPSM培训讲师”的资质认证。
        </p>
      </div>
      <div class="taset">
        <p class="fontFF">“趣镜”访谈- 快速问答</p>
        <img src="../../../assets/imgs/document3-3.png" alt="">
      </div>
      <div class="detailThree-decription Bc2">
        <p class="f700">小麦：为什么想要转型做自由顾问呢?</p>
        <p>
          夏烨: 选择成为自由顾问,是因为觉得可以根据自己的发展需求和特长承接项目。
          我在每个项目中都能接触到新的公司、新的问题、新的知识,还有新的朋友。日久常新,让自己始终保持积极的生活态度。
        </p>
        <p class="f700">小麦：能否和我们分享一下在转型过程中你最大的收获或感触? </p>
        <p>
          夏烨: 我感觉做自由顾问就是在创建个人品牌。以专业和为人打造一个以自己的名字命名的品牌,责任比日常工作大,但也更有成就感。
        </p>
        <p class="f700">小麦: 觉得麦盟自由顾问平台模式怎么样?有什么改善建议吗? </p>
        <p>
          夏烨: 其实一开始接触麦盟是朋友介绍的(笑),我感觉群里的顾问专业度非常高。麦盟平台可以非常好地平衡专业人士职业发展和个人生活的需求。
          顾问只需要做好自己的项目、打磨专业知识即可,不需要花过多的时间进行前期客户开发和应酬的工作。
        </p>
      </div>
      <div class="detailThree-border"></div>
      <div class="detailThree-img2">
        <img src="../../../assets/imgs/document3-4.png" alt="">
      </div>
      <div class="detailThree-decription">
        <p>
          Angela 曾在全球知名500强公司IBM工作20余年,专注于BT/IT 领域的业务与服务管理,
          具有优秀的团队培育和建设技巧,尤其擅长虚拟和远程团队的管理。
        </p>
        <p>
          Angela 擅长跨团队大型复杂项目的管理,
          曾于2008年获得美国项目管理协会(PMI)的项目管理专业人士资格认证(PMP),
          于2015年获得专业的敏捷教练专业证书(Scrum Master)。
        </p>
      </div>
      <div class="taset">
        <p class="fontFF">“趣镜”访谈- 快速问答</p>
        <img src="../../../assets/imgs/document3-3.png" alt="">
      </div>
      <div class="detailThree-decription Bc2">
        <p class="f700">小麦: 觉得自由顾问和之前的工作模式最大的区别在哪里? </p>
        <p>
          Angela: 对我来说有两个最大的区别。一个是时间上自己拥有更大的主动权-想工作的时候就工作,想休息的时候就休息,
          陪伴家人孩子的时间更多了。
          另外,之前在企业工作需要花很多时间处理行政事务,现在做自由顾问,
          可以更加专注到项目当中,对实现个人职业价值有很大的帮助。
        </p>
        <p class="f700">小麦: 能和我们分享一下最近一次的项目中让你觉得比较有趣的挑战吗? </p>
        <p>
          Angela: 做IT自由顾问最有趣的地方就是能接触到不同行业,做项目的同时也充实了自己的行业领域知识,
          但是同时也是最大的挑战。如何能快速理解行业是自由顾问的一个必备能力,在这个方面我还在不断探索。
        </p>
        <p class="f700">小麦: 怎么评价麦盟自由顾问平台? </p>
        <p>
          Angela: 我很喜欢这个平台,上面有很多老朋友(笑),也不用为找不到项目而烦恼,另外也很期待智库的开放哦～
        </p>
      </div>
      <div class="detailThree-border"></div>
      <div class="detailTwo-img2-8">
        <img src="../../../assets/imgs/document2-8.png" alt="">
      </div>
      <div class="detailTwo-decriptionbttom">
        <p class="f700"> 就是现在</p>
        <p class="f700">
          在麦盟咨询
          <span class="fontFF">发布项目需求 </span>
          , 寻找自由顾问 !
        </p>
        <p class="f700">
          在麦盟咨询
          <span class="fontFF">开启顾问之旅 </span>
          , 成为自由顾问 !
        </p>
      </div>
      <h4 class="detail1-effect">——— 麦盟影响力 您的竞争力 ———</h4>
    </div>
    <div class="detailThree" *ngIf="index == 3">
      <h4 class="detailFour-h4 f18">“麦盟趣镜”自由，更挑战！</h4>
      <div class="detailThree-img1">
        <img src="../../../assets/imgs/document4-1.png" alt="">
      </div>
      <div class="detailThree-decription">
        <p> 这一期的 <span class="fontFF">“麦盟趣镜” </span>，我们继续为大家带来自由顾问的快速问答分享。 </p>
        <p>帮助大家近距离了解自由顾问转型的心路历程，感受他们工作及生活的真实状态，以及获得来自资深顾问的建议！</p>
        <p>现在就跟小麦一起，围观今天的两位“大咖”吧！</p>
      </div>
      <div class="detailThree-img2">
        <img src="../../../assets/imgs/document4-2.png" alt="">
      </div>
      <div class="detailThree-decription">
        <p>
          罗冠洲拥有15 年+世界 500 强企业及中国本土公司工作经验。
          曾担任蓝色光标大数据总监、IBM 资深顾问、太极计算机高级工程师等职位 。
        </p>
        <p>
          罗冠洲擅长市场营销、产品设计、企业 IT战略规划、项目管理、业务流程再造等领域，
          曾先后为眉山市政府、广州大学城、北京交委、国家发改委、国家奥组委、国家工商总局、
          北京建委、苏宁电器等客户提供咨询服务。
        </p>
      </div>
      <div class="taset">
        <p class="fontFF">“趣镜”访谈- 快速问答</p>
        <img src="../../../assets/imgs/document3-3.png" alt="">
      </div>
      <div class="detailThree-decription Bc2">
        <p class="f700">小麦: 为什么想要转型做自由顾问呢?</p>
        <p>
          罗冠洲: 兼顾家庭与工作应该是转型的最大动力。我主要是为了能有更多的时间去陪伴孩子成长。
          在以往的全职咨询顾问工作中,日常加班996几乎是常态。
          比如说工作需要你电话保持开机状态能够随叫随到,经常深夜电话会议后,一个人默默对着电脑改材料等等。
          自由顾问的“自由”可以让我做到家庭和工作的平衡,可以集中一段时间工作,剩下的时间交给生活。
        </p>
        <p class="f700">小麦: 觉得自由顾问和之前的工作模式最大的区别在哪里? </p>
        <p>
          罗冠洲: 以往的工作可能更多是从公司角度去考虑,会接到一些较为重复性的项目。
          而自由顾问的角色让我能从自己的喜好出发,去选择想做的项目，包括一些更有挑战,能激发动力去学习的项目。
          而且做“自由顾问”的人往往都是一些在各领域相当专业的强人,能与这些人合作是非常好的机会，
          这也是之前工作中很难遇到的“强强联手”的学习机会。
        </p>
        <p class="f700">小麦: 对刚转型做自由顾问或者刚加入咨询行业的小白们有什么建议吗? </p>
        <p>
          罗冠洲: 自由顾问对个人能力要求可以说非常严格,毕竟是“凭本事吃饭”,个人品牌重要性远远大于以往的公司品牌,这是压力也是动力。
        </p>
        <p>
          对于刚加入咨询行业的小白来说,我建议大家在开始阶段不要拒绝或者挑剔任何项目。
          不管是不是本专业的领域，只要能跟随一个“好老师”边干边学,就能快速提升自身能力。
          比如能写好一份会议纪要也是很重要的一项基础能力,久而久之,个人的能力和口碑就能传播出去,
          自然而然就会有大量的“机会”飞过来。
        </p>
      </div>
      <div class="detailThree-border"></div>
      <div class="detailThree-img2">
        <img src="../../../assets/imgs/document4-3.png" alt="">
      </div>
      <div class="taset">
        <p class="fontFF">“趣镜”访谈- 快速问答</p>
        <img src="../../../assets/imgs/document3-3.png" alt="">
      </div>
      <div class="detailThree-decription Bc2">
        <p class="f700">小麦: 为什么想要转型做自由顾问呢? </p>
        <p>
          陆宏晖：自由顾问最大的一个好处...就是“自由”嘛, 哈哈~财务相对不太紧张的时候,
          自由可以让你拥有很多东西,比如更多照看家人的时间，更多关注自己个人爱好和个人健康的时间。
          当然，也会失去某些东西,比如在长期群体里的归属感,或者是收入的稳定感。这个需要每个人自己做好平衡。
        </p>
        <p class="f700">小麦: 最近一次接到的项目中有没有让你觉得比较有趣的挑战? </p>
        <p>
          陆宏晖: 我觉得做项目永远都会有挑战的,挑战估计贯穿所有顾问的工作过程。
          迎接挑战,面对挑战永远是顾问需要做的事情。
          我记得有个小小的有趣的例子就是在我方跟甲方项目启动会的时候,我方总经理突然因为塞车,
          无法按时赶到现场,我在毫无思想和材料准备的情况下,十分钟之内需要上台向客户管理高层、
          项目团队进行完整的项目演讲。事后总结发现自己居然没有冷场,也没有结巴,取得的效果还不错!
          证明了我临场发挥和讲故事的能力也一样是杠杠哒! 哇咔咔!
        </p>
        <p class="f700">小麦: 觉得麦盟咨询的平台模式怎么样?</p>
        <p>
          陆宏晖: 我觉得麦盟这样的平台非常好,对接顾问和用人团队,降低了寻找好顾问的成本,
          提高了效率,也能给项目提供更好的质量保证,非常好!而且感觉自由顾问其实很符合现在90/00后的职业观念，
          这是个很好的趋势，也希望麦盟能够乘势起飞,在顾问行业里面形成真正的影响力!
        </p>
      </div>
      <div class="detailThree-border"></div>
      <div class="detailTwo-img2-8">
        <img src="../../../assets/imgs/document2-8.png" alt="">
      </div>
      <div class="detailTwo-decriptionbttom">
        <p class="f700"> 就是现在</p>
        <p class="f700">
          在麦盟咨询
          <span class="fontFF">发布项目需求 </span>
          , 寻找自由顾问 !
        </p>
        <p class="f700">
          在麦盟咨询
          <span class="fontFF">开启顾问之旅 </span>
          , 成为自由顾问 !
        </p>
      </div>
      <h4 class="detail1-effect">——— 麦盟影响力 您的竞争力 ———</h4>
    </div>
    <div class="detailFive" *ngIf="index == 4">
      <h4 class="detailFive-h4 f18">顾问之路高大上？其实很简单！</h4>
      <div class="detailFive-img1">
        <img src="../../../assets/imgs/document5-1.png" alt="">
      </div>
      <div class="detailFive-decription">
        <div class="detailFive-img2"><img src="../../../assets/imgs/document5-2.png" alt=""></div>
        <p>
          我没有咨询的工作背景也可以申请吗? 我注册顾问后为什么没有被审核通过?
          如何定义不同行业及业务领域的专家? 刚刚拿到MBA毕业证书也可以加入吗? …….
        </p>
      </div>
      <div class="detailFive-decription1">
        <p> 自从麦盟平台上的 <span class="fontFF">自由顾问注册 </span>，功能开启后,麦盟后台收到了许多优秀顾问和行业精英的申请。</p>
        <p>
          <span class="f700">“做一名自由顾问需要什么样的资历和条件？”</span>
          是麦盟后台收到的最多的询问之一。
          <!-- <span class="f700">亲尝大于耳闻目睹</span> -->
        </p>
        <p>今天小麦就来给大家解读一下，如何正确解锁自由顾问这条职业通路。</p>
        <p>简单来说，只需要符合以下任一条件即可！</p>
      </div>
      <div class="detailFive-img3">
        <span class="fontFF top">顶尖咨询公司相关工作经验</span>
        <img src="../../../assets/imgs/document5-3-1.png" alt="">
      </div>
      <div class="detailFive-decription1">
        <p> 拥有国际/国内顶尖或知名咨询公司的相关工作经验,以及来自以往雇主及客户的高度认可是你成长为一名优秀自由顾问的第一层保障。</p>
        <p>
          我们期待,你能为不同行业的客户传递以下价值:
        </p>
      </div>
      <div class="decription1-list">
        <div class="list">
          <p class="radious"></p>
          <p class="radious-text">在咨询工作中养成的规范高效的工作方式</p>
        </div>
        <div class="list">
          <p class="radious"></p>
          <p class="radious-text">专业的咨询技能和严谨的工作态度 </p>
        </div>
        <div class="list">
          <p class="radious"></p>
          <p class="radious-text">独特的个人魅力 </p>
        </div>
      </div>
      <div class="detailFive-img3">
        <span class="fontFF top">行业或业务领域的优秀实践者</span>
        <img src="../../../assets/imgs/document5-3-2.png" alt="">
      </div>
      <div class="detailFive-decription1">
        <p> 如果你曾见证了公司在发展过程中经过的大风大浪,经历过行业的起起伏伏,
          并在所处岗位及业务领域中取得了卓越表现,形成了自己独到而成熟的见解。
          恭喜你,你将是麦盟求之若渴的行业专家型顾问。
        </p>
        <p>
          我们期待,你能为不同行业的客户传递以下价值:
        </p>
      </div>
      <div class="decription1-list">
        <div class="list">
          <p class="radious"></p>
          <p class="radious-text">扎实的专业技能帮助客户发掘企业增长潜力 </p>
        </div>
        <div class="list">
          <p class="radious"></p>
          <p class="radious-text">多年经验积累帮助公司识别并规避潜在风险 </p>
        </div>
        <div class="list">
          <p class="radious"></p>
          <p class="radious-text">宝贵的行业积累 </p>
        </div>
      </div>
      <div class="detailFive-img3">
        <span class="fontFF top">拥有国内外知名大学MBA或以上学历</span>
        <img src="../../../assets/imgs/document5-3-3.png" alt="">
      </div>
      <div class="detailFive-decription1">
        <p> 有很多刚毕业的同学在麦盟后台询问,我既没有咨询行业的相关工作经验,也没有丰富的行业实践,就不能申请成为自由顾问对吗?
        </p>
        <p>当然不是!</p>
        <p>麦盟自由顾问分为初级、中级、高级三个梯级,针对客户不同的需求推荐不同梯级的人才支持项目的顺利开展。</p>
        <p>我们期待经过MBA课程系统学习的你,为不同行业的客户传递以下价值:</p>
      </div>
      <div class="decription1-list">
        <div class="list">
          <p class="radious"></p>
          <p class="radious-text">现代管理学的理论体系与管理技能训练方法 </p>
        </div>
        <div class="list">
          <p class="radious"></p>
          <p class="radious-text">大量商业案例的商业洞察与商业实战分析 </p>
        </div>
        <div class="list">
          <p class="radious"></p>
          <p class="radious-text">探索理论研究与商业实践的有趣结合 </p>
        </div>
      </div>
      <div class="decription1-border"></div>
      <div class="detailFive-decription1">
        <p> 小麦啰啰嗦嗦讲了那么多,可能还是有人会问:</p>
        <p>我感觉自己三个条件都不是很符合,或者感觉有那么一点点相关但<span class="fontFF">没有信心</span>怎么破? </p>
        <p>别担心！这一点小麦已经帮你想好了!</p>
      </div>
      <div class="dashed ">
        <div class="detailFive-decription1 mt26">
          <p>我们即将推出针对麦盟自由顾问的“<span>麦盟智库计划</span>”，为有志转型为自由顾问的业务小白们提供免费的咨询顾问实战培训课程，
            帮助你顺利过渡到咨询顾问这一角色。
          </p>
          <p>你也可以选择报名成为麦盟项目助理，在资深顾问的带领下参与到项目中提升自我。</p>
        </div>
        <div class="dashed-img">
          <img src="../../../assets/imgs/document5-4.png" alt="">
        </div>
      </div>
      <div class="detailFive-decription1">
        <p> 还在等什么?</p>
        <p>赶快注册你的麦盟<span class="fontFF">专属顾问账号</span>吧！</p>
      </div>
      <h4 class="detail1-effect mb40">——— 麦盟影响力 您的竞争力 ———</h4>
    </div>

    <div class="detail-bottom">
      <img src="../../../assets/imgs/Image 3@3x.png" alt="">
    </div>
  </div>
</ion-content>
<attention-tip *ngIf='attstate == 0' [bottom]='1' [page]='9' [index]='index'></attention-tip>