<!--
  Generated template for the ProjectPaymentListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="project-header">
  <ion-navbar hideBackButton="true">
    <ion-buttons side="left"  style="order: 0">
      <button ion-button icon-only color="royal" (click)="goback()" class="returnBtn">
        <ion-icon name="arrow-back">&nbsp;返回</ion-icon>
      </button>
    </ion-buttons>
    <ion-title>支付记录列表</ion-title>
  </ion-navbar>
</ion-header>

<!--菜单展开时-->
<div class="nav-menu" *ngIf="isShowNavMenu && !isApply">
    <ion-list class="nav-list-menu">
        <ion-item no-lines (click)="onNavMenuClick(false)">
            <p class="list-header-left">{{showNavMenuName || '支付记录'}}</p>
            <div class="list-header-right" item-end>
                <span>收起</span>
            </div>
        </ion-item>
    </ion-list>
    <div class="nav-menu-bg"></div>
    <ion-list class="nav-menu-list" [hidden]="projectDetails.status == 0">
      <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(0,'详情')">
          <label>详情</label>
          <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
      </ion-item>
      <ion-item class="nav-menu-item" (click)="onConsultantToggle()">
          <label>顾问 </label>
          <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow" [ngClass]="{'rotate':isConsultantListShow==true}"></ion-icon>
      </ion-item>
          <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(1,'所有顾问','',projectSignCount.allCount)" *ngIf="isConsultantListShow">
              <label class="ml25">所有顾问（{{projectSignCount.allCount || 0}}） </label>
              <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
          </ion-item>
          <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(1,'已推荐',0,projectSignCount.recommendedCount)" *ngIf="isConsultantListShow">
              <label class="ml25">已推荐（{{projectSignCount.recommendedCount || 0}}） </label>
              <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
          </ion-item>
          <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(1,'待面试',1,projectSignCount.interviewCount)" *ngIf="isConsultantListShow">
              <label class="ml25">待面试（{{projectSignCount.interviewCount || 0}}） </label>
              <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
          </ion-item>
          <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(1,'方案待确认',6,projectSignCount.programConfirmedCount)" *ngIf="isConsultantListShow">
              <label class="ml25">方案待确认（{{projectSignCount.programConfirmedCount || 0}}） </label>
              <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
          </ion-item>
          <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(1,'已聘用',5,projectSignCount.employCount)" *ngIf="isConsultantListShow">
              <label class="ml25">已聘用（{{projectSignCount.employCount || 0}}） </label>
              <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
          </ion-item>
      <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(2,'方案','')">
          <label>方案</label>
          <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
      </ion-item>
      <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(3,'阶段',-1)">
          <label>阶段</label>
          <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
      </ion-item>
      <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(4,'文档',-1)">
          <label>文档</label>
          <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
      </ion-item>
      <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(5,'支付记录',-1)">
          <label>支付记录</label>
          <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
      </ion-item>
      <ion-item class="nav-menu-item" no-lines (click)="onNavMenuItemClick(6,'发票',-1)">
          <label>发票</label>
          <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
      </ion-item>
      <ion-item class="nav-menu-item" no-lines *ngIf="isConsultantListShow">
          <label></label>
      </ion-item>
      <ion-item class="nav-menu-item" no-lines *ngIf="isConsultantListShow">
          <label></label>
      </ion-item>
  </ion-list>
</div>

<ion-content style="background-color: #fcfcfc;">
  <!--菜单收起-->
  <ion-list class="nav-list-menu" *ngIf="!isApply">
    <ion-item no-lines (click)="onNavMenuClick(true)">
        <p class="list-header-left">{{showNavMenuName || '支付记录'}}</p>
        <div class="list-header-right" item-end>
            <span>展开</span>
        </div>
    </ion-item>
  </ion-list>
    <ion-list class="mt-list">
      <ion-item class="message-item mt20" no-lines *ngFor="let paymentListData_item of paymentListData">
        <p class="msg-title">
          <span class="msg-title-left" *ngIf="paymentListData_item.status == 0">客户付款待确认</span>
          <span class="msg-title-left" *ngIf="paymentListData_item.status == 1">平台已收款</span>
          <span class="msg-title-left" *ngIf="paymentListData_item.status == 2">顾问申请收款待收款</span>
          <span class="msg-title-left" *ngIf="paymentListData_item.status == 3">已向顾问付款</span>
          <span>{{paymentListData_item.createTime | date: 'yyyy/MM/dd'}} </span>
        </p>
        <div class="msg-cont">
          <h4>应付 {{(paymentListData_item.price|| 0) | currency : '￥' }} 元 / 实付 {{(paymentListData_item.realPrice || 0)  | currency : '￥'}} 元</h4>
          <p>整体进度 <span class="fweight600">第二阶段</span></p>
          <p class="mt5">流水号 <span class="fweight600">{{paymentListData_item.serialNumber}}</span></p>
        </div>
        <div class="msg-footer" (click)="goPaymentBrowser(paymentListData_item)">
          <span class="msg-footer-text">查看该支付详情</span>
          <ion-icon name="arrow-forward" class="ml12"></ion-icon>
        </div>
      </ion-item>
      <!-- <ion-item class="message-item mt20" no-lines>
        <p class="msg-title">
          <span class="msg-title-left">已核对</span>
          <span>2018-06-05 23:50 </span>
        </p>
        <div class="msg-cont">
          <h4>应付 23,000 元 / 实付 23,000 元</h4>
          <p>整体进度 <span class="fweight600">第二阶段</span></p>
          <p class="mt5">流水号 <span class="fweight600">2018035469820</span></p>
        </div>
        <div class="msg-footer" (click)="goPaymentBrowser()">
          <span class="msg-footer-text">查看该支付详情</span>
          <ion-icon name="arrow-forward" class="ml12"></ion-icon>
        </div>
      </ion-item>
      <ion-item class="message-item mt20" no-lines>
          <p class="msg-title">
            <span class="msg-title-left">已核对</span>
            <span>2018-06-05 23:50 </span>
          </p>
          <div class="msg-cont">
            <h4>应付 23,000 元 / 实付 23,000 元</h4>
            <p>整体进度 <span class="fweight600">第二阶段</span></p>
            <p class="mt5">流水号 <span class="fweight600">2018035469820</span></p>
          </div>
          <div class="msg-footer" (click)="goPaymentBrowser()">
            <span class="msg-footer-text">查看该支付详情</span>
            <ion-icon name="arrow-forward" class="ml12"></ion-icon>
          </div>
        </ion-item>
        <ion-item class="message-item mt20" no-lines>
          <p class="msg-title">
            <span class="msg-title-left">等待核对</span>
            <span>2018-06-05 23:50 </span>
          </p>
          <div class="msg-cont">
            <h4>应付 23,000 元 / 实付 23,000 元</h4>
            <p>整体进度 <span class="fweight600">第二阶段</span></p>
            <p class="mt5">流水号 <span class="fweight600">2018035469820</span></p>
          </div>
          <div class="msg-footer" (click)="goPaymentBrowser()">
            <span class="msg-footer-text">查看该支付详情</span>
            <ion-icon name="arrow-forward" class="ml12"></ion-icon>
          </div>
        </ion-item> -->
    </ion-list>
    <div class="no-content" *ngIf="isModel">
      <h4 class="title">提示</h4>
      <div class="img">
        <img src="../../../assets/imgs/tuijain.png" alt="">
      </div>
      <p class="tip">您还没有支付信息</p>
    </div>
  </ion-content>
