<!--
  Generated template for the ProjectProgramBrowserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="project-header">

  <ion-navbar hideBackButton="true">
    <ion-buttons side="left" style="order: 0">
      <button ion-button icon-only color="royal" (click)="goback()" class="returnBtn">
        <ion-icon name="arrow-back">&nbsp;返回</ion-icon>
      </button>
    </ion-buttons>
    <ion-title>方案列表</ion-title>
  </ion-navbar>

</ion-header>

<div class="nav-menu" *ngIf="isShowNavMenu">
  <ion-list class="nav-list-menu">
    <ion-item no-lines (click)="onNavMenuClick(false)">
      <p class="list-header-left">{{showNavMenuName || '方案'}}</p>
      <div class="list-header-right" item-end>
        <span>收起</span>
      </div>
    </ion-item>
  </ion-list>
  <div class="nav-menu-bg"></div>
  <ion-list class="nav-menu-list">
    <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(1,'详情')">
      <label>详情</label>
      <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
    </ion-item>
    <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(2,'方案')">
      <label>方案</label>
      <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
    </ion-item>
    <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(3,'阶段',-1)">
      <label>阶段</label>
      <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
    </ion-item>
    <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(4,'文档',-1)">
      <label>文档</label>
      <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
    </ion-item>
    <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(5,'收款记录',-1)" no-lines>
      <label>收款记录</label>
      <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
    </ion-item>
  </ion-list>
</div>
  
<ion-content style="background-color: #fcfcfc;">
  <ion-list class="nav-list-menu">
    <ion-item no-lines (click)="onNavMenuClick(true)">
      <p class="list-header-left">{{showNavMenuName || '方案'}}</p>
      <div class="list-header-right" item-end>
        <span>展开</span>
      </div>
    </ion-item>
  </ion-list>

  <div *ngIf="isCont">
    <div class="no-content">
        <h4 class="title">项目方案</h4>
        <div class="img">
          <img src="../../../../assets/imgs/tuijain.png" alt="">
        </div>
        <p class="tip" *ngIf="!isAction">该分类暂无内容，项目发展到不同阶段时，不同的分类下会有对应的新增内容</p>
        <p class="tip" *ngIf="isAction">当前分类暂时为空，点击下方按钮添加方案。</p>
        <button class="btn" ion-button (click)="gotodo()" *ngIf="!isAction">返回</button>
      </div>
      <button ion-button expand="full" large class="fixed-bottom" 
            (click)="onAddProgramClick()" 
            *ngIf="isAction">
            添加方案
      </button>
  </div>
<div *ngIf="!isCont">
    <ion-list class="browser-top">
        <h4>{{projectProgramDetails.programName}}</h4>
        <!-- <p class="browser-top-p mt15">
              <img src="{{projectProgramDetails.avatar}}"/>
              <span>{{projectProgramDetails.nickName}}</span>
            </p> -->
      </ion-list>
      <ion-list class="describe-list">
        <ion-item no-lines>
          <h4>方案描述</h4>
          <p class="describe-cont">{{projectProgramDetails.programDescription}}</p>
        </ion-item>
      </ion-list>
      <ion-list class="describe-list mt10">
        <ion-item no-lines>
          <h4>项目规划与交付物</h4>
          <p class="describe-cont">{{projectProgramDetails.deliverable}} </p>
        </ion-item>
      </ion-list>
      <ion-list class="list-item-flex mt10">
        <ion-item>
          <label>项目周期</label>
          <span item-right class="item-value">{{projectProgramDetails.workload}}
            <span *ngIf="projectProgramDetails.workloadUnit == 0">天</span>
            <span *ngIf="projectProgramDetails.workloadUnit == 1">个月</span>
            <span *ngIf="projectProgramDetails.workloadUnit == 2">年</span>
          </span>
        </ion-item>
        <ion-item no-lines>
          <label>项目总价</label>
          <span item-right class="item-value">{{projectProgramDetails.price}} 元</span>
        </ion-item>
      </ion-list>
      <div class="user-other-list">
        <p class="browser-file">查看方案相关文件</p>
        <h4 class="mt10">方案计划书</h4>
        <ion-card class="card-item" *ngIf="projectProgramDetails">
          <div class="card-item-label">
            <label>
              <img style="width:66px;height:66px;" src="{{projectProgramDetails.format}}">
            </label>
            <a href="{{projectProgramDetails.planUrl}}" style="text-decoration: none">
              <div class="card-cont" data-src="planUrl">
                <h5>{{projectProgramDetails.planName}}</h5>
                <p class="browser-file">点击查看文件预览</p>
                <p class="browser-size">{{projectProgramDetails.size}}</p>
              </div>
            </a>
          </div>
        </ion-card>
      </div>
      <ion-list class="describe-list mt40">
        <ion-item no-lines *ngFor="let proposal_item of projectProgramDetails.proposal">
          <div class="top-lines">
            <h4 class="top-lines-left">修改意见</h4>
            <span class="top-lines-right">{{proposal_item.createTime | date:'yy/MM/dd'}}</span>
          </div>
          <p class="describe-cont">{{proposal_item.opinion}}</p>
        </ion-item>
      </ion-list>
      <div style="height:100px;"></div>
      <button ion-button expand="full" large class="fixed-bottom bg-gry" (click)="goAccountEdit()" *ngIf="projectProgramDetails.status == -1 ||projectProgramDetails.status == 1">等待客户确认中</button>
      <!-- <button ion-button expand="full" large class="fixed-bottom" (click)="onAddProgramClick(projectProgramDetails)" *ngIf="projectProgramDetails.status == -1 ||projectProgramDetails.status == 1||projectProgramDetails.status == 4">编辑</button> -->
      <div class="fixed-bottom" *ngIf="projectProgramDetails.status == 5 || projectProgramDetails.status == 4 || projectProgramDetails.status == -2">
        <button ion-button class="btn-submit" (click)="sureTipPrompt()" [disabled]='isdisabled'>提交方案</button>
        <button ion-button class="btn-delete" (click)="onAddProgramClick(projectProgramDetails)">编辑</button>
      </div>
</div>
  
</ion-content>
<div class="phonebind-modal" [hidden]="!isTipPrompt">
  <div class="modal-bg"></div>
  <div class="modal-box">
    <div class="modal-top">
      <div class="modal-top-close">
        <!-- <ion-icon ios="ios-close" md="md-close" item-rigth (click)="onClose()" color=""></ion-icon> -->
      </div>
      <div class="modal-title">提示</div>
      <div class="modal-content">
        <p>{{tiptext}}</p>
      </div>
      <div class="modal-footer">
        <button ion-button full large (click)="onProgramSubmitted()">确定</button>
        <button ion-button full large (click)="onReturnBack()" class="btn-delete">返回</button>
      </div>
    </div>
  </div>
</div>