<ion-header class="project-header">
  <ion-navbar hideBackButton="true">
    <ion-buttons side="left" style="order: 0">
      <button ion-button icon-only color="royal" (click)="goback()">
        <ion-icon name="arrow-back">&nbsp;&nbsp;返回</ion-icon>
      </button>
    </ion-buttons>
    <ion-title>收款记录</ion-title>
  </ion-navbar>
</ion-header>

<div class="nav-menu" *ngIf="isShowNavMenu">
  <ion-list class="nav-list-menu">
    <ion-item no-lines (click)="onNavMenuClick(false)">
      <p class="list-header-left">{{showNavMenuName || '收款记录'}}</p>
      <div class="list-header-right" item-end>
        <span>收起</span>
      </div>
    </ion-item>
  </ion-list>
  <div class="nav-menu-bg"></div>
  <ion-list class="nav-menu-list">
    <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(1,'详情')">
      <label>详情</label>
      <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
    </ion-item>
    <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(2,'方案')">
      <label>方案</label>
      <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
    </ion-item>
    <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(3,'阶段',-1)">
      <label>阶段</label>
      <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
    </ion-item>
    <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(4,'文档',-1)">
      <label>文档</label>
      <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
    </ion-item>
    <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(5,'收款记录',-1)" no-lines>
      <label>收款记录</label>
      <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
    </ion-item>
  </ion-list>
</div>

<ion-content style="background-color: #fcfcfc;">
  <ion-list class="nav-list-menu">
    <ion-item no-lines (click)="onNavMenuClick(true)">
      <p class="list-header-left">{{showNavMenuName || '收款记录'}}</p>
      <div class="list-header-right" item-end>
        <span>展开</span>
      </div>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item class="message-item mt20" no-lines *ngFor="let projectInvoiceListData_item of projectInvoiceListData">
      <p class="msg-title">
        <span class="msg-title-left" *ngIf="projectInvoiceListData_item.receiptType == 0">平台代扣</span>
        <span class="msg-title-left" *ngIf="projectInvoiceListData_item.receiptType == 1">提供发票</span>
      </p>
      <div class="msg-cont">
        <h4>{{projectInvoiceListData_item.payee}} · {{projectInvoiceListData_item.realPrice}} 元</h4>
        <p>整体进度 <span class="fweight600">第{{projectInvoiceListData_item.stageSort}}阶段</span></p>
        <p class="mt5">流水号 <span class="fweight600">{{projectInvoiceListData_item.serialNumber}}</span></p>
      </div>
      <div class="msg-footer" (click)="goInvoiceBrowser(projectInvoiceListData_item)">
        <span class="msg-footer-text">查看该发票详情</span>
        <ion-icon name="arrow-forward" class="ml12"></ion-icon>
      </div>
    </ion-item>
    <!-- <ion-item class="message-item mt20" no-lines>
          <p class="msg-title">
            <span class="msg-title-left">增值税专用发票</span>
          </p>
          <div class="msg-cont">
            <h4>唯莱电子科技有限公司 · 23,000 元</h4>
            <p>顺丰快递 <span class="fweight600">4328060512984</span></p> 
            <p class="mt5">流水号 <span class="fweight600">2018035469820</span></p>
          </div>
          <div class="msg-footer" (click)="goInvoiceBrowser(2)">
            <span class="msg-footer-text">查看该发票详情</span>
            <ion-icon name="arrow-forward" class="ml12"></ion-icon>
          </div>
        </ion-item>
        <ion-item class="message-item mt20" no-lines>
          <p class="msg-title">
            <span class="msg-title-left">增值税普通发票</span>
          </p>
          <div class="msg-cont">
            <h4>唯莱电子科技有限公司 · 23,000 元</h4>
            <p>顺丰快递 <span class="fweight600">4328060512984</span></p> 
            <p class="mt5">流水号 <span class="fweight600">2018035469820</span></p>
          </div>
          <div class="msg-footer" (click)="goInvoiceBrowser(1)">
            <span class="msg-footer-text">查看该发票详情</span>
            <ion-icon name="arrow-forward" class="ml12"></ion-icon>
          </div>
        </ion-item>
        <ion-item class="message-item mt20" no-lines>
          <p class="msg-title">
            <span class="msg-title-left">增值税专用发票</span>
          </p>
          <div class="msg-cont">
            <h4>唯莱电子科技有限公司 · 23,000 元</h4>
            <p>顺丰快递 <span class="fweight600">4328060512984</span></p> 
            <p class="mt5">流水号 <span class="fweight600">2018035469820</span></p>
          </div>
          <div class="msg-footer" (click)="goInvoiceBrowser(2)">
            <span class="msg-footer-text">查看该发票详情</span>
            <ion-icon name="arrow-forward" class="ml12"></ion-icon>
          </div>
        </ion-item> -->
  </ion-list>

</ion-content>