<!--
  Generated template for the ProjectStageBrowserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <ion-title>阶段详情</ion-title>
    </ion-navbar>
  </ion-header>
  
<ion-content style="background-color: #fcfcfc;">
  <ion-list class="browser-top">
    <h4>{{projectStageDetail.stageName}}</h4>
    <p class="browser-top-p mt15">
      <ion-icon name="ios-paper-outline" class="mr3"></ion-icon>
      <span>阶段周期</span>
      <span>{{projectStageDetail.startTime | date: 'yyyy-MM-dd'}}</span>
      <span> 至 </span>
      <span>{{projectStageDetail.endTime | date: 'yyyy-MM-dd'}}</span>
    </p>
  </ion-list>
  <ion-list class="list-item-flex mt10">
    <ion-item no-lines>
      <label>第一阶段</label>
      <span item-right class="item-value color-f46f46 font12" *ngIf="projectStageDetail.adviserStatus == 0">待确认</span>
      <span item-right class="item-value color-f46f46 font12" *ngIf="projectStageDetail.adviserStatus == 1">有异议</span>
      <span item-right class="item-value color-f46f46 font12" *ngIf="projectStageDetail.adviserStatus == 2">未开始</span>
      <span item-right class="item-value color-f46f46 font12" *ngIf="projectStageDetail.adviserStatus == 3">进行中</span>
      <span item-right class="item-value color-f46f46 font12" *ngIf="projectStageDetail.adviserStatus == 4">待审核</span>
      <span item-right class="item-value color-f46f46 font12" *ngIf="projectStageDetail.adviserStatus == 5">申请收款</span>
      <span item-right class="item-value color-f46f46 font12" *ngIf="projectStageDetail.adviserStatus == 6">已完成</span>
      <span item-right class="item-value color-f46f46 font12" *ngIf="projectStageDetail.adviserStatus == 7">收款中</span>
      <span item-right class="item-value color-f46f46 font12" *ngIf="projectStageDetail.adviserStatus == 8">交付有异议</span>
    </ion-item>
  </ion-list>
  <ion-list class="describe-list mt10">
    <ion-item no-lines>
      <h4>任务描述</h4>
      <p class="describe-cont">{{projectStageDetail.stageDescription}}</p>
    </ion-item>
  </ion-list>
  <ion-list class="describe-list mt10">
    <ion-item no-lines>
      <h4>交互标的</h4>
      <p class="describe-cont">{{projectStageDetail.deliverable}} </p>
    </ion-item>
  </ion-list>
  <ion-list class="list-item-flex mt10">
    <ion-item>
      <label>付款比例</label>
      <span item-right class="item-value">{{projectStageDetail.percentage * 100}} %</span>
    </ion-item>
    <ion-item>
      <label>付款金额</label>
      <span item-right class="item-value">{{projectStageDetail.price}}元</span>
    </ion-item>
    <ion-item no-lines>
      <label>交互方式</label>
      <span item-right class="item-value" *ngIf="projectStageDetail.paymentMethod == 0">线上</span>
      <span item-right class="item-value" *ngIf="projectStageDetail.paymentMethod == 1">线下</span>
    </ion-item>
  </ion-list>
  <div class="user-other-list" *ngIf="projectStageDetail.document && projectStageDetail.document.length>0">
    <p class="browser-file">查看阶段相关文件</p>
    <h4 class="mt10">交互物</h4>
    <ion-list class="card-item mb10" *ngFor="let document_item of projectStageDetail.document">
      <ion-item no-lines>
        <div class="card-item-top">
          <div class="item-top-left">第二阶段 <span class="color-f46f46">交付物</span></div>
          <span class="item-top-right">{{document_item.createTime | date: 'yy/MM/dd'}}</span>
        </div>
        <div class="card-item-label">
          <label>
            <img style="width:66px;height:66px;" src="assets/imgs/doc.png" *ngIf="formatTypes(document_item.format) == 'doc'">
            <img style="width:66px;height:66px;" src="assets/imgs/ppt.png" *ngIf="formatTypes(document_item.format) == 'ppt'">
            <img style="width:66px;height:66px;" src="assets/imgs/xls.png" *ngIf="formatTypes(document_item.format) == 'xls'">
            <img style="width:66px;height:66px;" src="assets/imgs/png.png" *ngIf="formatTypes(document_item.format) == 'jpg'">
            <img style="width:66px;height:66px;" src="assets/imgs/pdf.png" *ngIf="formatTypes(document_item.format) == 'pdf'">
          </label>
          <div class="card-cont" data-src="url">
            <h5>{{document_item.sourceName}}</h5>
            <!-- <p class="browser-file">点击查看文件预览</p> -->
            <p class="browser-size">{{(document_item.size/1048576).toPrecision(3)}}</p>
          </div>
        </div>
      </ion-item>
      <ion-item class="lines-top" no-lines>
        <div class="card-item-label">
          <label>文档名称</label>
          <p class="card-cont">{{document_item.name}}</p>
        </div>
        <div class="card-item-label mt10">
          <label>文档描述</label>
          <p class="card-cont">{{document_item.introduction}}</p>
        </div>
        <div class="msg-footer" (click)="goDocumentBrowser(document_item.pdid)">
          <span class="msg-footer-text">查看详情</span>
          <ion-icon name="arrow-forward" class="ml12"></ion-icon>
        </div>
      </ion-item>
    </ion-list>
  </div>

  <ion-list class="describe-list mt40" *ngIf="projectStageDetail.proposal && projectStageDetail.proposal.length>0">
    <ion-item no-lines *ngFor="let proposal_item of projectStageDetail.proposal">
      <div class="top-lines">
        <h4 class="top-lines-left">修改意见</h4>
        <span class="top-lines-right">{{proposal_item.createTime | date:'yy/MM/dd'}}</span>
      </div>
      <p class="describe-cont">{{proposal_item.opinion}}</p>
    </ion-item>
  </ion-list>
  <div style="height:100px;"></div>
  <button ion-button expand="full" large class="fixed-bottom bg-gry" (click)="goAccountEdit()" *ngIf="projectStageDetail.adviserStatus==0 || projectStageDetail.adviserStatus==4">
    等待客户确认中
  </button>
  <button ion-button expand="full" large class="fixed-bottom" (click)="goPaymentRecord(projectStageDetail.adviserStatus)"
    *ngIf="projectStageDetail.adviserStatus==5">
    提交收款申请
  </button>
  <!-- <button ion-button expand="full" large class="fixed-bottom" 
        (click)="goPaymentRecord(projectStageDetail.adviserStatus)" 
        *ngIf="projectStageDetail.adviserStatus==6">
        提交发票信息
      </button> -->
  <button ion-button expand="full" large class="fixed-bottom" (click)="goPaymentRecord(projectStageDetail.adviserStatus)"
    *ngIf="projectStageDetail.adviserStatus==-1 || projectStageDetail.adviserStatus==1">
    编辑阶段
  </button>
  <!-- <div class="fixed-bottom" *ngIf="projectStageDetail.adviserStatus==1">
          <button ion-button class="btn-submit" (click)="onBankAccountSubmit(bankDateil.bankAccount,bankDateil.account)">确认阶段</button>
          <button ion-button class="btn-delete" (click)="onBankAccountDel()">提出异议</button>
      </div> -->
  <div class="fixed-bottom" *ngIf="projectStageDetail.adviserStatus==3 || projectStageDetail.adviserStatus==8">
    <button ion-button class="btn-submit" (click)="goPaymentRecord(projectStageDetail.adviserStatus)">添加交互物</button>
    <button ion-button class="btn-delete" (click)="onStageSubmit()">阶段交付</button>
  </div>
</ion-content>