<!--
  Generated template for the ProjectStageListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="project-header">
  <ion-navbar hideBackButton="true">
    <ion-buttons side="left"  style="order: 0">
      <button ion-button icon-only color="royal" (click)="goback()" class="returnBtn">
        <ion-icon name="arrow-back">&nbsp;返回</ion-icon>
      </button>
    </ion-buttons>
    <ion-title>阶段列表</ion-title>
  </ion-navbar>
</ion-header>

<!--菜单展开时-->
<div class="nav-menu" *ngIf="isShowNavMenu && !isApply">
    <ion-list class="nav-list-menu">
        <ion-item no-lines (click)="onNavMenuClick(false)">
            <p class="list-header-left">{{showNavMenuName || '阶段'}}</p>
            <div class="list-header-right" item-end>
                <span>收起</span>
            </div>
        </ion-item>
    </ion-list>
    <div class="nav-menu-bg"></div>
    <ion-list class="nav-menu-list" [hidden]="projectDetails.status == 0">
      <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(0,'详情')">
          <label>详情</label>
          <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
      </ion-item>
      <ion-item class="nav-menu-item" (click)="onConsultantToggle()">
          <label>顾问 </label>
          <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow" [ngClass]="{'rotate':isConsultantListShow==true}"></ion-icon>
      </ion-item>
          <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(1,'所有顾问','',projectSignCount.allCount)" *ngIf="isConsultantListShow">
              <label class="ml25">所有顾问（{{projectSignCount.allCount || 0}}） </label>
              <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
          </ion-item>
          <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(1,'已推荐',0,projectSignCount.recommendedCount)" *ngIf="isConsultantListShow">
              <label class="ml25">已推荐（{{projectSignCount.recommendedCount || 0}}） </label>
              <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
          </ion-item>
          <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(1,'待面试',1,projectSignCount.interviewCount)" *ngIf="isConsultantListShow">
              <label class="ml25">待面试（{{projectSignCount.interviewCount || 0}}） </label>
              <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
          </ion-item>
          <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(1,'方案待确认',6,projectSignCount.programConfirmedCount)" *ngIf="isConsultantListShow">
              <label class="ml25">方案待确认（{{projectSignCount.programConfirmedCount || 0}}） </label>
              <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
          </ion-item>
          <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(1,'已聘用',5,projectSignCount.employCount)" *ngIf="isConsultantListShow">
              <label class="ml25">已聘用（{{projectSignCount.employCount || 0}}） </label>
              <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
          </ion-item>
      <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(2,'方案','')">
          <label>方案</label>
          <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
      </ion-item>
      <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(3,'阶段',-1)">
          <label>阶段</label>
          <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
      </ion-item>
      <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(4,'文档',-1)">
          <label>文档</label>
          <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
      </ion-item>
      <ion-item class="nav-menu-item" (click)="onNavMenuItemClick(5,'支付记录',-1)">
          <label>支付记录</label>
          <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
      </ion-item>
      <ion-item class="nav-menu-item" no-lines (click)="onNavMenuItemClick(6,'发票',-1)">
          <label>发票</label>
          <ion-icon name="arrow-forward" item-right (click)="isShow=!isShow"></ion-icon>
      </ion-item>
      <ion-item class="nav-menu-item" no-lines *ngIf="isConsultantListShow">
          <label></label>
      </ion-item>
      <ion-item class="nav-menu-item" no-lines *ngIf="isConsultantListShow">
          <label></label>
      </ion-item>
  </ion-list>
</div>

<ion-content style="background-color: #fcfcfc;">
  <!--菜单收起-->
  <ion-list class="nav-list-menu" *ngIf="!isApply">
    <ion-item no-lines (click)="onNavMenuClick(true)">
        <p class="list-header-left">{{showNavMenuName || '阶段'}}</p>
        <div class="list-header-right" item-end>
            <span>展开</span>
        </div>
    </ion-item>
  </ion-list>
    <ion-list class="mt-list">
      <ion-item class="message-item mt20" no-lines *ngFor="let projectStage_item of projectStageListData">
        <p class="msg-title">
          <span class="msg-title-left" *ngIf="projectStage_item.customerStatus == 0">未开始</span>
          <span class="msg-title-left" *ngIf="projectStage_item.customerStatus == 1">有异议</span>
          <span class="msg-title-left" *ngIf="projectStage_item.customerStatus == 2">待付款</span>
          <span class="msg-title-left" *ngIf="projectStage_item.customerStatus == 3">待核对付款</span>
          <span class="msg-title-left" *ngIf="projectStage_item.customerStatus == 4">进行中</span>
          <span class="msg-title-left" *ngIf="projectStage_item.customerStatus == 5">待审核</span>
          <span class="msg-title-left" *ngIf="projectStage_item.customerStatus == 6">申请发票</span>
          <span class="msg-title-left" *ngIf="projectStage_item.customerStatus == 7">已完成</span>
          <span class="msg-title-left" *ngIf="projectStage_item.customerStatus == 8">开票中</span>
          <span class="msg-title-left" *ngIf="projectStage_item.customerStatus == 9">交付有异议</span>
        </p>
        <div class="msg-cont">
          <h4>{{projectStage_item.stageName}}</h4>
          <p>整体进度 <span class="fweight600">第{{projectStage_item.stageSort}}阶段</span></p>
        </div>
        <div class="msg-cont-line2 mt10">
          <p class="line2-left">
            <ion-icon name="ios-paper-outline" class="mr3"></ion-icon>
            <span>阶段周期</span>
            <span>{{projectStage_item.startTime | date: 'yyyy-MM-dd'}}</span>
            <span> 至 </span>
            <span>{{projectStage_item.endTime | date: 'yyyy-MM-dd'}}</span>
          </p>
        </div>
        <div class="msg-footer" (click)="goStageBrowser(projectStage_item)">
          <span class="msg-footer-text">查看该阶段详情</span>
          <ion-icon name="arrow-forward" class="ml12"></ion-icon>
        </div>
      </ion-item>
      <!-- <ion-item class="message-item mt20" no-lines>
          <p class="msg-title">
            <span class="msg-title-left">运行中</span>
          </p>
          <div class="msg-cont">
            <h4>旅行保险行业的详细市场概述分析</h4>
            <p>整体进度 <span class="fweight600">第二阶段</span></p>
          </div>
          <div class="msg-cont-line2 mt10">
            <p class="line2-left">
              <ion-icon name="ios-paper-outline" class="mr3"></ion-icon>
              <span>阶段周期</span>
              <span>2018-06-05</span>
              <span> 至 </span>
              <span>2018-07-08</span>
            </p>
          </div>
          <div class="msg-footer" (click)="goStageBrowser()">
            <span class="msg-footer-text">查看该阶段详情</span>
            <ion-icon name="arrow-forward" class="ml12"></ion-icon>
          </div>
        </ion-item>
        <ion-item class="message-item mt20" no-lines>
          <p class="msg-title">
            <span class="msg-title-left">待确认</span>
          </p>
          <div class="msg-cont">
            <h4>旅行保险行业的详细市场概述分析</h4>
            <p>整体进度 <span class="fweight600">第二阶段</span></p>
          </div>
          <div class="msg-cont-line2 mt10">
            <p class="line2-left">
              <ion-icon name="ios-paper-outline" class="mr3"></ion-icon>
              <span>阶段周期</span>
              <span>2018-06-05</span>
              <span> 至 </span>
              <span>2018-07-08</span>
            </p>
          </div>
          <div class="msg-footer" (click)="goStageBrowser()">
            <span class="msg-footer-text">查看该阶段详情</span>
            <ion-icon name="arrow-forward" class="ml12"></ion-icon>
          </div>
        </ion-item>
        <ion-item class="message-item mt20" no-lines>
          <p class="msg-title">
            <span class="msg-title-left">待付款</span>
          </p>
          <div class="msg-cont">
            <h4>销售软件系统、物业管理软件系统</h4>
            <p>整体进度 <span class="fweight600">第二阶段</span></p>
          </div>
          <div class="msg-cont-line2 mt10">
            <p class="line2-left">
              <ion-icon name="ios-paper-outline" class="mr3"></ion-icon>
              <span>阶段周期</span>
              <span>2018-06-05</span>
              <span> 至 </span>
              <span>2018-07-08</span>
            </p>
          </div>
          <div class="msg-footer" (click)="goStageBrowser(3)">
            <span class="msg-footer-text">查看该阶段详情</span>
            <ion-icon name="arrow-forward" class="ml12"></ion-icon>
          </div>
        </ion-item>
        <ion-item class="message-item mt20" no-lines>
          <p class="msg-title">
            <span class="msg-title-left">已完成</span>
          </p>
          <div class="msg-cont">
            <h4>旅行保险行业的详细市场概述分析</h4>
            <p>整体进度 <span class="fweight600">第二阶段</span></p>
          </div>
          <div class="msg-cont-line2 mt10">
            <p class="line2-left">
              <ion-icon name="ios-paper-outline" class="mr3"></ion-icon>
              <span>阶段周期</span>
              <span>2018-06-05</span>
              <span> 至 </span>
              <span>2018-07-08</span>
            </p>
          </div>
          <div class="msg-footer" (click)="goStageBrowser(4)">
            <span class="msg-footer-text">查看该阶段详情</span>
            <ion-icon name="arrow-forward" class="ml12"></ion-icon>
          </div>
        </ion-item>
        <ion-item class="message-item mt20" no-lines>
          <p class="msg-title">
            <span class="msg-title-left">已完成</span>
          </p>
          <div class="msg-cont">
            <h4>旅行保险行业的详细市场概述分析细市场概述分析细市场概述分析</h4>
            <p>整体进度 <span class="fweight600">第二阶段</span></p>
          </div>
          <div class="msg-cont-line2 mt10">
            <p class="line2-left">
              <ion-icon name="ios-paper-outline" class="mr3"></ion-icon>
              <span>阶段周期</span>
              <span>2018-06-05</span>
              <span> 至 </span>
              <span>2018-07-08</span>
            </p>
          </div>
          <div class="msg-footer" (click)="goStageBrowser()">
            <span class="msg-footer-text">查看该阶段详情</span>
            <ion-icon name="arrow-forward" class="ml12"></ion-icon>
          </div>
        </ion-item> -->
    </ion-list>
    <div style="height:60px;" *ngIf="!isModel"></div>
    <button ion-button expand="full" large class="fixed-bottom bg-gry" (click)="goAccountEdit()"  *ngIf="stageType == 15">等待顾问修改中</button>
    <!-- <button ion-button expand="full" large class="fixed-bottom" (click)="goAccountEdit()">点击查看合同</button> -->
    <div class="fixed-bottom" *ngIf="stageType == 13">
        <button ion-button class="btn-submit" (click)="sureTipPrompt()">确认阶段</button>
        <button ion-button class="btn-delete" (click)="onCustomerNayStagePlan()">提出异议</button>
    </div>
    <div class="no-content" *ngIf="isModel">
      <h4 class="title">提示</h4>
      <div class="img">
        <img src="../../../assets/imgs/tuijain.png" alt="">
      </div>
      <p class="tip">您还没有阶段信息</p>
    </div>
  </ion-content>
  <div class="phonebind-modal" [hidden]="!isTipPrompt">
      <div class="modal-bg"></div>
      <div class="modal-box">
        <div class="modal-top">
          <div class="modal-top-close">
            <!-- <ion-icon ios="ios-close" md="md-close" item-rigth (click)="onClose()" color=""></ion-icon> -->
          </div>
          <div class="modal-title">提示</div>
          <div class="modal-content">
            <p>{{tiptext}}</p>
          </div>
          <div class="modal-footer">
            <button ion-button full large (click)="onAllStageSubmit()">确定</button>
            <button ion-button full large (click)="onReturnBack()" class="btn-delete">返回</button>
          </div>
        </div>
      </div>
    </div>