page-casemore {
    // .card-ios {
    //     margin: 20px 26px 20px 26px;
    //     border-radius: 2px;
    //     width: calc(100% - 52px);
    //     font-size: 1.4rem;
    //     background: #fff;
    //     -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    //     box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    // }
    .content-wrap {
        margin: 20px 26px 20px 26px;
        border-radius: 2px;
        width: calc(100% - 52px);
        font-size: 1.4rem;
        background: #fff;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }
    ion-card-content{
        p{
            text-indent: .7cm;
            color: #333333;
            font-family: PingFangSC;
            font-weight: 400;
            font-style: 14px;
            line-height: 20px;
            text-align: justify
        }
        .content-bottom{
            text-align: center;
            color:#FF7E57;
            margin: 10px auto 0 auto;
            font-size: 14px;
            line-height: 40px;
            font-family: PingFangSC;
            font-weight: 600;
            height: 40px;
        }
    }
}
